- unless Rails.env.production?
  *** TEST EMAIL FROM DEVELOPMENT / STAGING
  \
  
USER:
\
Name:
= @user.display_name
\
Account Email:
=@user.email
\
Dwolla Email:
=@user.dwolla_email
\
PAYMENT:
\
Amount:
$#{"%.2f" % (@payment.amount.to_f / 100)}
\
UUID:
= @payment.uuid
