- unless Rails.env.production?
  *** TEST EMAIL FROM DEVELOPMENT / STAGING
  \

USER:
\
Name:
= @user.display_name
\
Account Email:
=@user.email
\
Dwolla Email:
=@user.dwolla_email
\
PAYMENT:
\
Amount:
= number_to_currency(@payment.amount.to_f / 100000000)
\
UUID:
= @payment.uuid