%p Hi #{@user.display_name}!

%p You recently left a note at #{widget.url}.

%p The note is : #{@comment.text}

%p This note is at position #{@comment.pos} in the list.

%p The publisher of this 25c widget deemed your comment inappropriate and removed the comment from the list. 

%p Please note that 25c is not responsible for innapropriate comments. 

%p Thank you!

%p The 25c Team

