%p Thank you for using 25c to support what you value. 

%p In order to continue using 25c widgets you will need to complete your profile. 

%p Please take action now and enter your payment information at #{link_to "fund the pledges you made", tipper_payment_url, :style => 'color: #08c; text-decoration: none;'}.

%p Again thank you for using 25c widgets and rewarding content your truly love!

%p (In the event you overlooked this email, we will continue to remind you.)
