%p Hi #{@user.display_name}!

%p You have received a new comment on #{widget.url}.

%p The comment is : #{@comment.text}

%p This comment is at position #{@comment.pos} in the list.

%p Only the top 5 are displayed at all times. You can click here to remove this comment <> if it is deemed offensive.

%p Thank you!

%p The 25c Team


