%p Dear #{@user.display_name}:

%p Thank you for using 25c to support what you value. 

%p This is an email to inform you about the transactions that have been charged to your card recently.

%p Thank you
