%p We noticed you recently register as a user on 25c — awesome!

%p You can now give 25c points to throw your weight behind creations you love -- and, in the process, sponsor websites you support.

%p Be heard and seen more than others -- by giving points in any 25c widget to creations that matter.

%p You have 10 points to start out with. You may obtain additional points in a variety of ways including rewards or purchase.

%p Keep track of all your activity and points given by checking your Dashboard:
%p{ :style => 'margin-bottom:30px;'}= link_to tipper_dashboard_url, tipper_dashboard_url, :style => 'color: #08c; text-decoration: none;'

%p If you have any questions along the way, check our FAQ.
%p{ :style => 'margin-bottom:30px;'}= link_to faq_url, faq_url(:ref => "email"), :style => 'color: #08c; text-decoration: none;'
