%h3 Hello from the 25c team!

%p We noticed you recently register as a publisher on 25c — awesome!

%p Embed 25c widgets on your website and start increasing traffic and engagement while generating new revenues!

%p To get paid, request a pay-out on your Dashboard.

%p Keep track of all activity and tips received by checking your Dashboard:
%p{ :style => 'margin-bottom:30px;'}= link_to tipper_dashboard_url, tipper_dashboard_url

%p If you have any questions along the way, check our FAQ.
%p{ :style => 'margin-bottom:30px;'}= link_to faq_url, faq_url(:ref => "email")
