%p Hello #{@user.display_name}!

%p Welcome to 25 and congratulation on your first tip! 

%p You have recently click on a 25c widget for the first time!

%p You can access your dashboard at xxx in order to view all your transactions. 

%p Your clicks will automatically be charged to your credit card. Please make sure you complete your profile and payment information! 

%p Thank you!

%p The 25c Team


