%h3 Hello from the 25c team!

%p We noticed you recently register as a user on 25c — awesome!

%p You are now ready to reward content you truly love and appreciate!

%p Publishers and content creators embed 25c widgets on their pages so you can reward and be rewarded!

%p Rewarding content via 25c widgets always gives you something back in return!

%p Keep track of all your activity and points given by checking your Dashboard:
%p{ :style => 'margin-bottom:30px;'}= link_to tipper_dashboard_url, tipper_dashboard_url

%p If you have any questions along the way, check our FAQ.
%p{ :style => 'margin-bottom:30px;'}= link_to faq_url, faq_url(:ref => "email")
