%p Welcome back to 25c!

%p You have recently click for a second time on a 25c widget!

%p You can access your dashboard at xxx in order to view all your transactions. 

%p Your clicks will automatically be charged to your credit card. Please make sure you complete your profile and payment information! 

%p Thank you!

%p The 25c Team


