%p Welcome to 25 and congratulation on your first tip! 

%p You have recently click on a 25c widget for the first time!

%p Make sure you check your dashboard to view all your transactions: %p{ :style => 'margin-bottom:30px;'}= link_to tipper_dashboard_url, tipper_dashboard_url, :style => 'color: #08c; text-decoration: none;'

%p Your clicks will automatically be charged to your credit card. Please make sure you complete your profile and payment information! 

%p Thank you!

%p The 25c Team


