%p Hi #{@user.display_name}!

%p You have recently left a note on a 25c testimonial at #{@widget.url_title}.

%p You are now at position #{@curpos} in the list

%p Only the top 5 are displayed at all times. If you want to keep or increase your position you can always go back at #{@widget.url} and tip more!

%p Thank you!

%p The 25c Team


