%p Thank you for completing your profile on 25c.com. 

%p All your clicks will be aggregated and your card will be charged everytime you reach 5$ in transaction costs. 

%p You will receive an email with a list of all charges and transactions before we process your card. 

%p Thank you!

%p The 25c Team


