%p Hi #{@user.display_name}!

%p This is a reminder that you need to complete your profile in order to stay active on 25c. 

%p If you have featured items on 25c widgets they will stay there for up to 60mins if you have not completed your profile and payment information. 

%p Thank you!

%p The 25c Team


