%p Hi #{@sharer.display_name}!

%p You are now sharing tips with #{@receiver.display_name}.

%p Percentage shared: #{@share_amount}%.

%p Update your button settings anytime:
%p{ :style => 'margin-bottom:30px;'}= link_to publisher_get_button_url, publisher_get_button_url
