%p Hi #{@receiver.display_name}!

%p You are now set up to receive tips shared by #{@sharer.display_name}.

%p Percentage shared: #{@share_amount}%.

%p Check your dashboard at any time to see if you have received any shared tips:
%p{ :style => 'margin-bottom:30px;'}= link_to home_dashboard_url, home_dashboard_url
