%h3 Hello from the 25c team!

%p We noticed you started using 25c — awesome!

%p Clicking on a 25c button is a powerful way to support the content you like and want to see more of.

%p Whenever you see the +25c Button, click it once to pledge 25 cents, twice to pledge 50 cents and click-hold to increment to larger amounts.

%p By making small donations, you'll actually be reshaping the web. Right now, creators rely on distracting ads or cumbersome subscriptions to support their work. 25c cuts all that out and gives you an easy, direct way to show love for the content you value.

%p With each click, you'll be building a better on-line experience.

%p You can also receive 25c pledges on your own website, blog, etc. by adding a +25c Button or the #{link_to "tip.25c.com", publisher_profile_url} link. To get paid, request a pay-out on your Dashboard.

- if @user.role = 'tipper' and not @user.has_valid_card
  %p If you haven't done so, please complete your account registration:
  %p{ :style => 'margin-bottom:30px;'}= link_to tipper_site_register_url, tipper_site_register_url

%p Keep track of pledges made and received by checking your Dashboard:
%p{ :style => 'margin-bottom:30px;'}= link_to tipper_dashboard_url, tipper_dashboard_url

%p If you have any questions along the way, check our FAQ.
%p{ :style => 'margin-bottom:30px;'}= link_to faq_url, faq_url(:ref => "email")
