%h3 Hello from the 25c team!

%p We noticed you started using 25c — awesome!

%p Through buttons and links that can be added to any blog and to Pinterest, Youtube, etc., 25c makes it easy for fans to directly support creators they value.  

%p Whenever you see the +25c Button or the Tip.25c.com Link, click it once to pledge 25 cents; click it twice to pledge 50 cents; and click-hold to increment to larger amounts.

%p You can <b>receive 25c pledges</b> on your own website, blog, etc. by adding a +25c Button or the Tip.25c.com Link using the code & instructions we provide.   To get paid, request a pay-out on your Dashboard.

%p Keep track of pledges made and received by checking your Dashboard:
%p{ :style => 'margin-bottom:30px;'}= link_to home_dashboard_url, home_dashboard_url

%p If you have any questions along the way, check our FAQ.
%p{ :style => 'margin-bottom:30px;'}= link_to faq_url, faq_url(:ref => "email")
