
%p You have recently left a note on a 25c testimonial at #{@utitle}.

%p The content of this note is : #{@comment.content}

%p Your note is now at position #{@curpos} in the list

%p Only the top 5 are displayed at all times. If you want to keep or increase your position you can always go back at #{@comment.url.url} and tip more!

Thank you!

The 25c Team



