#choose-platform.step-container{:class => hide ? 'hide' : ''}
  .step-number 1
  .step-content
    %h3.step-title= t('home.buttons.receive_pledges.choose_platform_title')
    .step-body
      .pull-left.platform-container{ :'data-platform' => 'html' }
        %input{ :type => 'radio', :name => 'platform' }
        = image_tag 'logos/web.png', :class => 'web-logo-img'
        %span.platform-text= t('.website')
      - ['wordpress', 'tumblr', 'posterous', 'blog-com', 'blogger', 'jux', 'weebly', 'youtube',
        'pinterest', 'facebook'].each do |platform|
        .pull-left.platform-container{ :'data-platform' => platform }
          %input{ :type => 'radio', :name => 'platform' }
          = image_tag 'logos/' + platform + '.png', :class => 'platform-logo-img'
      .clear
  .clear