#view-dashboard.step-container{:class => hide ? 'hide' : ''}
  .step-number
  .step-content
    %h3.step-title= t('home.buttons.receive_pledges.view_dashboard_title')
    .step-body
      %p= raw t('home.buttons.receive_pledges.view_dashboard', :link => link_to(t('home.buttons.receive_pledges.view_dashboard_link'), publisher_dashboard_path))
      %p= t('home.buttons.receive_pledges.request_payout')
      %p= raw t('home.buttons.receive_pledges.enhance_profile', 
        :link => link_to(t('home.buttons.receive_pledges.enhance_profile_link'), publisher_profile_path))
  .clear