- content_for :title, t('.title')
- content_for :js do
  = javascript_include_tag "edit-profile"

.page-header.compact-header
  - if @url.blank?
    %h3= link_to t('.no_url'), home_account_path, :target => '_blank'
  - else
    %h3.pull-left
      = t('.url_title')
      =link_to @url, @url, :target => '_blank'
    =link_to t('.edit_url'), home_account_path, :class => 'btn', :id => 'edit-url'
  %hr
%iframe#upload-image{:src => upload_image_path }
= render :partial => "profile_form"