- model_class = @user.class
- content_for :title, t('.title')

.page-header
  %h2= yield :title
/ %a= link_to t('.request_payout'), publisher_payout_path, :class => 'btn'

= render :partial => "form"
