=render 'layouts/fb_login'

#tip-center
  %img#tip-25c-logo{:src => image_path('25c-logo-large.png')}
  #tip-25c-tagline.lead= t('application.title')
  = render 'layouts/sign_in_form'

= javascript_include_tag "application"
= yield(:js)