= simple_form_for @content, :url => @content.new_record? ? home_contents_path : home_content_path(@content) do |f|
  = f.input :name
  .form-actions
    = f.button :submit, :class => 'btn btn-primary'