<div class="row main-content">
<div class="span11">
<h2 class="page-header">About 25c Inc.</h2>
</div>
<div class="span11 buffer">

<p>25c simplifies social micro-donations. One quarter, one click.  

<p>You truly appreciate that blog article?  Value that helpful comment?  That volunteer?  That personal cause?  It's just one click to show your appreciation -- by pledging a quarter.  Or multiples thereof.  Or possibly a daily or weekly quarter. 

<p>At 25c Inc., we are working on ideas to help shift the incentive system towards compensating for "value to you" more than "value to a third party" such as advertisers.  Because we believe that if you directly support what you value, you will see more of such in the future.  And over time, that shift can grow to be very meaningful in a very qualitative way.</P>

<p>Our first offering is the +25c Button&trade;.  Anyone who has a website, blog, or Youtube video can easily embed the +25c Button into it following on our step-by-step instructions -- and start receiving 25c pledges in a breeze.  Those who don't have their own website can simply create a profile page on 25c.com to collect 25c pledges.</p>

<P>The +25c Button effectively combines a "Like" with a 25-cent pledge, and integrates payment processing.  It is “multi-one-click”: click it twice to pledge 50 cents, etc.</p>

<p>25c Inc. is a privately held company located in San Francisco, California.  Founded by Sylvio Drouin, Lionel Jingles, Francis Li, and Martin Roscheisen, the company operates a "value graph" micro-pledge processing network and owns a rapidly growing patent portfolio around social micro-donations.</p>

</div>

<div class="span6">

<h3>Contact</h3>

<p>The best way to reach us is to send email to <b>hello@25c.com</b>.</p>

<p>We check email frequently and can process email inquiries most quickly.</p>

<h4>Address:</h4>

<p>25c Inc.<br />
660 York St<br />
San Francisco, CA 94110<br />
(415) 745-2605</p>

<P>Email: hello@25c.com<P>
</div>

<div class="span5 center">

<h3 class="buffer">Try out +25c: Pledge to Us!</h3>

Click here to pledge to 25c Inc.:<P>

<div id ="about-button-container">

<a href="https://www.25c.com/tip/#{@button.uuid.to_s}" class="tip-25c-button" data-size="btn-large">to 25c Inc.</a>

<script>
!function(d,s,id){
var js,fjs=d.getElementsByTagName(s)[0];
if(!d.getElementById(id)){
js=d.createElement(s);js.id=id;
js.src="//#{ENV["API25C_URL"]}/public/javascripts/button.js";
fjs.parentNode.insertBefore(js,fjs);
}
} (document,"script","tip-25c-js");
</script>

</div>
</div>
</div>
