.row.main-content
  .span11
    %h2.page-header About 25c Inc.
  .span11.buffer
    %p 25c Inc. provides a utility to simplify social micro-donations.

    %p Simply by creating a profile page on 25c.com with the 25c Button&trade; or by adding the 25c Button&trade; to their own website, blog, or Youtube video, people can receive pledges of 25 cents (or small multiples thereof) from lots of people in reward for great creations or causes pursued.

    %p The 25c Button empowers people to easily & directly support what they value.  Effectively a “Super Like”, the patent-pending interface utility is “multi-one-click” for pledging 25 cents or small multiples thereof.

    %p At 25c Inc., we operate a social network and micro-payment pledge processing service that integrates with the services of licensed money transmitters.  25c Inc. never holds, or transmits, or receives for transmission, any currency, funds, or other value, and does not sell any stored value.  All micro-donation intents are publicly viewable.

    %p 25c Inc. is a privately held company located in San Francisco, California.  Founded in 2011 by Sylvio Drouin, Lionel Jingles, Francis Li, Ruza Markov and Martin Roscheisen, the company operates the 25c.com social micro-donation service and owns a patent portfolio around social micro-donations.

  .span6
    %h3 Contact Us

    %p Please send us an email at hello@25c.com if you have any questions. We check email daily and will process responses more quickly via email.
    %h3 Email:
    %p hello@25c.com

    %h3 Address:
    %p 
      25c Inc.
      %br/
      660 York St
      %br/
      San Francisco, CA 94110

    %h3 Phone:
    %p (415) 745-2605
  
  .span5.center
    %h3.buffer Pledge to Us
    #about-button-container
      %a{ :href => "https://www.25c.com/tip/" +  @button.uuid.to_s, 
        :class => "tip-25c-button", :"data-size" => "btn-large"}
        #{@button.title}
      :javascript 
        !function(d,s,id){
          var js,fjs=d.getElementsByTagName(s)[0];
          if(!d.getElementById(id)){
            js=d.createElement(s);js.id=id;
            js.src="//#{ENV["API25C_URL"]}/public/javascripts/button.js";
            fjs.parentNode.insertBefore(js,fjs);
          }
        } (document,"script","tip-25c-js");
