- content_for :title, "About 25c Inc"

.row
  .span5
    .split-left
      %h2 Contact
      %p The best way to reach us is via email to <b>hello@25c.com</b>.
      %p We read every email even though we may not always be able to answer.
      %p <b>Address:</b>
      %p
        25c Inc.<br />
        660 York St<br />
        San Francisco, CA 94110<br />
        (415) 745-2605

  .span11
    .split-right
      %h2 About 25c Inc.
      %p 25c offers widgets that publishers can embed into their website to engage their fans and turn them into direct sponsors.  In a fun way.
      %p There's AdSense for pitches from third-party advertisers -- and now there's 25c widgets for your very own fans.
      %p Getting supported directly by fans aligns creators even more clearly with those they care about most: their audience.
      %p 25c Inc. is a privately held company located in San Francisco, California.  Founded in 2013 by Internet veterans, the company operates the 25c.com service and owns a rapidly growing portfolio of patents, including promoted commenting and other mechanisms for publishers to increase revenue.
