- content_for :title, "About 25c Inc"

.row
  .span5
    .split-left
      %h2 Contact
      %p The best way to reach us is via email to <b>hello@25c.com</b>.
      %p We read every email even though we may not always be able to answer.
      %p <b>Address:</b>
      %p
        25c Inc.<br />
        660 York St<br />
        San Francisco, CA 94110<br />
        (415) 745-2605

  .span11
    .split-right
      %h2 About 25c Inc.
      %p 25c offers widgets that publishers can embed into their website to engage their fans and turn them into direct sponsors.  In a fun way.
      %p Advertising is a good source of income if one's creations attract millions of viewers. But what about the millions of niche content creators whose sites only attract 10,000 people? 25c provides a new solution by enabling fans to directly sponsor the content they love with a bit of their own money – even as little as 25 cents. 
      The result: content creators get paid and fans get more high-quality content. 
      
      %p
      %p
      
      %p 25c Inc. is a privately held company located in San Francisco, California.  Founded in 2013 by Internet veterans, the company operates the 25c.com service and owns a rapidly growing portfolio of patents, including promoted commenting and other mechanisms for publishers to increase revenue.
