= content_for(:js) do
  = javascript_include_tag "save-button"
  :javascript
    window.buttonId = 8888;

.row.main-content
  .span11
    %h2.page-header About 25c Inc.
  .span11
    %p 25c Inc. is creating the Internet's "value graph".

    %p It empowers people to directly support what they value. And it makes it very easy for creators to receive support from lots of people in small amounts. Think fifty-thousand quarters.

    %p The 25c Button&trade; is a patented "multi-one-click" button that works just as a "Like" button but includes a one-quarter-a-click micro-donation. Try it here to donate to 25c Inc.:
     
    #about-button-container
      .button-choice
        %a{ :href => "https://www.25c.com/tip/" +  @button.uuid.to_s, 
          :class => "tip-25c-button", :"data-size" => "btn-large"}
          #{@button.title}
        :javascript 
          !function(d,s,id){
            var js,fjs=d.getElementsByTagName(s)[0];
            if(!d.getElementById(id)){
              js=d.createElement(s);js.id=id;
              js.src="//#{ENV["API25C_URL"]}/public/javascripts/button.js";
              fjs.parentNode.insertBefore(js,fjs);
            }
          } (document,"script","tip-25c-js");

    %p A page view is a page view for an advertiser. But for people certain page views have a lot more value than others. Like that one comment that saved you hours of hassle. Or that truly inspiring video.

    %p 25c Inc. is a privately funded company based in San Francisco, California. Founded in 2011 by Sylvio Drouin, Lionel Jingles, Francis Li, Ruza Markov and Martin Roscheisen, the company has developed a patent portfolio around easy-to-use sub-$1 social payments.


/dummy tooltip
#tip-25c-tooltip 
  %p Click to tip 25c!
