<div class="main-col pull-left">

<h2 class="page-header">About 25c Inc.</h2>

<p>25c simplifies social micro-donations. One click, one quarter.

<p>You truly value that article, that contribution or cause?  It's just one click to show your appreciation -- by pledging a quarter.  Or multiples thereof.  Or possibly a weekly recurring number of quarters.

<p>At 25c Inc., we are working on ideas to help shift the economic basis incrementally towards incentivizing for "value to you" more than "value to a third party" such as advertisers.  Because we believe that if you directly support what you value, you will see more of such in the future and you are the customer as opposed to the product.  And over time, that shift can grow to be very meaningful in a very qualitative way.

<p>Our first offering is a simple utility called the +25c Button&trade;.  Anyone who has a website, blog, or Youtube video can easily embed the +25c Button into it following on our step-by-step instructions -- and start receiving 25c pledges in a breeze.  Those who don't have their own website can simply create a profile page on 25c.com to collect 25c pledges.

<P>The +25c Button essentially combines a "Like" with a 25-cent pledge and integrated payment processing.  It is “multi-one-click”: click it twice to pledge 50 cents, etc.

<p>25c Inc. is a privately held company located in San Francisco, California.  Founded by Sylvio Drouin, Lionel Jingles, Francis Li, and Martin Roscheisen, the company operates a "value graph" micro-pledge processing network and owns a patent portfolio regarding "multi-one-click", single-denomination payments, and system designs for social micro-donations. </p>

</div>

<div class="side-col pull-right">

<h3 class="side-col-title">Contact</h3>
<p>The best way to reach us is via email to <b>hello@25c.com</b>.
<p>We read every email we receive even though we may not always be able to answer.

<p><b>Address:</b></p>
<p>25c Inc.<br />
660 York St<br />
San Francisco, CA 94110<br />
(415) 745-2605</p>

<p class="buffer"><b>Email: hello@25c.com</b><p>

<h3>Try out +25c: Support Us!</h3>
<p>Click here to pledge 25c to 25c Inc.:</p>

<div id ="about-button-container">
<a href="https://www.25c.com/tip/#{@button.uuid.to_s}" class="tip-25c-button" data-size="btn-large" data-user="25c Inc." data-profile="#{@profile_url}"></a>

<script>
!function(d,s,id){
var js,fjs=d.getElementsByTagName(s)[0];
if(!d.getElementById(id)){
js=d.createElement(s);js.id=id;
js.src="//#{ENV["API25C_URL"]}/public/javascripts/button.js";
fjs.parentNode.insertBefore(js,fjs);
}
} (document,"script","tip-25c-js");
</script>
</div>

</div>

<div class="clear"></div>
