<div id="action-container" class="center">
<span id="action-question">
Ready to get started with 25c?
</span>
<a id="action-button" class="btn btn-strong" href = #{publisher_widgets_path}>
Get Set Up
</a>
</div>

<div class="main-col">
<h2 class="page-header">About 25c Inc.</h2>

<P>25c offers online widgets that publishers use to engage fans
 around their content and to turn fans into sponsors in a gamified way.

<P>Getting supported directly by fans aligns creators even more
  clearly with those they care about most: their audience.

<P>25c Inc. is a privately held company located in San Francisco,
  California. Founded by Sylvio Drouin, Lionel Jingles, Francis Li,
  and Martin Roscheisen, the company operates the 25c.com and owns a
  rapidly growing portfolio of patents.

</div>

<div class="side-col pull-right">

<h3 class="side-col-title">Contact</h3>
<p>The best way to reach us is via email to <b>hello@25c.com</b>.
<p>We read every email even though we may not always be able to answer.

<p><b>Address:</b></p>
<p>25c Inc.<br />
660 York St<br />
San Francisco, CA 94110<br />
(415) 745-2605</p>

<p class="buffer"><b>Email: hello@25c.com</b><p>

</div>

<div class="clear"></div>
