- content_for :title, "About 25c Inc"

.row
  .span5
    .split-left
      %h2 Contact
      %p The best way to reach us is via email to <b>hello@25c.com</b>.
      %p We read every email even though we may not always be able to answer.
      %p <b>Address:</b>
      %p
        25c Inc.<br />
        660 York St<br />
        San Francisco, CA 94110<br />
        (415) 745-2605
      %p <b>Email: hello@25c.com</b>

  .span11
    .split-right
      %h2 About 25c Inc.
      %p 25c offers online widgets that publishers use to engage fans around their content and to turn fans into sponsors in a gamified way.
      %p Getting supported directly by fans aligns creators even more clearly with those they care about most: their audience.
      %p 25c Inc. is a privately held company located in San Francisco, California. Founded by Sylvio Drouin, Lionel Jingles, Francis Li, and Martin Roscheisen, the company operates the 25c.com and owns a rapidly growing portfolio of patents.
