- content_for :title, "About 25c Inc"
- content_for :meta_description, "25c simplifies social micro-donations. One click, one quarter. Quickly install the +25c button on your website or blog and use it to start receive 25c pledges today!"

.row
  .span5
    .split-sidebar
      %h2 Contact
      %p The best way to reach us is via email to <b>hello@25c.com</b>.
      %p We read every email even though we may not always be able to answer.
      %p <b>Address:</b>
      %p
        25c Inc.<br />
        660 York St<br />
        San Francisco, CA 94110<br />
        (415) 745-2605
      %p <b>Email: hello@25c.com</b>
    
      %h2 Try out +25c: Support Us!
      %p Click here to pledge 25c to 25c Inc.:
      %div.buffer{ :class => "tip-25c-belt", :'data-id' => 'abc' }
      :javascript 
        !function(d,s,id){
          var js,fjs=d.getElementsByTagName(s)[0];
          if(!d.getElementById(id)){
            js=d.createElement(s);js.id=id;
            js.src="//#{ENV["API25C_URL"]}/public/javascripts/widget.js";
            fjs.parentNode.insertBefore(js,fjs);
          }
        } (document,"script","tip-25c-widget-js");
  .span11
    .split-body
      %h2 About 25c Inc.
      %p 25c offers online creators/publishers an incremental source of revenue by engaging fans around content through gift based widgets.  Getting directly paid by fans aligns you even more with those you care about most: your audience.
      %p At 25c.com, we provide a growing gallery of widgets that publishers can easily embed into their online content to create incentives and opportunities for fans to make gifts in amounts as small as 25 cents.
      %p Gift pledges are accumulated by 25c into >$10 payments across the network of participants.  Revenue may be automatically shared between publishers and creators.
      %p 25c Inc. is a privately held company located in San Francisco, California. Founded by Sylvio Drouin, Lionel Jingles, Francis Li, and Martin Roscheisen, the company operates the 25c network and owns a growing patent portfolio.
