.row
  .span12
    %h2.page-header About 25c Inc.
  .span12

    %p 25c Inc. empowers people to directly support what they truly value.  Through one-quarter-a-click micro-donations.   

    %p A page view is a page view for an advertiser.  But for people certain page views have a lot more value than others.  Like that message board comment that saved you hours of hassle.   Or that truly inspiring video.  

    %p Using the 25c Gratuity Button(TM), creators receive support from lots of people in small amounts.  And that can add up.  Each click is a step towards a world of crowd funded greatness.  Rather than mediocrity driven by page-view averages or hidden behind pay walls.

    %p 25c Inc. is a privately funded company based in San Francisco, California.  Founded in 2011 by Sylvio Drouin, Lionel Jingles, Francis Li, and Martin Roscheisen, the company has developed a patent portfolio around easy-to-use sub-$1 social payments.