= content_for(:head) do
  %base{:target => "_parent"}
  :css
    body {
      padding-top: 0;
      padding-bottom: 0;
    }
    footer#footer-container{
      padding: 10px 40px 0 40px;
    }
    
%body{:style => "background-image: none; background-color: transparent;"}
  = render 'layouts/footer'