.row
  .span12
    %h2.page-header Contact Information
  .span12
    %h3 Email:
    %p info@25c.com
    
    %h3 Phone:
    %p (415) 745-2605

    %h3 Address:
    %p 
      25c Inc.
      %br/
      660 York St
      %br/
      San Francisco, CA 94110