.row
  .span12
    %h2.page-header Frequently Asked Questions
  .span12
    %h3 GENERAL
    %strong What does 25c do?
    %p 25c makes it easy for creators to integrate a 1-click micro-donation button into their blog, website, video and photo collections. It makes it easy for people to donate 25 cents directly to the creator: with 1-click across all sites. For a creator, there's no downside to using our 25c button, only upside.

    %strong Does this work like the Facebook Like button?
    %p The 25c button basically combines the functionality of a 'Like' button with that of a 25-cent micro-payment.
    %p The Facebook 'Like' button is being clicked more than three billion times every day by people around the world. A discriminating fraction of these endorsements can now carry 25-cent donations.

    %strong What is the background on 25c?
    %p There are so many people online these days that small donations made by larger groups of them can make a big difference. 25c is focused on making sub-dollar donations incredibly simple.
    %p In recent years, people have increasingly become accustomed to making small payments. iTunes, Zynga, etc. have helped form that habit. Certain sites focus on crowd funding of various causes. We feel that there's an even broader generic opportunity including for even smaller donation amounts. We are just about the horizontal technology piece to make this usage as easy as possible.

    %strong Why do you restrict buttons to have one amount of a denomination only?
    %p It's part of making the service as simple as possible. The analogy is Twitter. There's nothing one can do on Twitter that one could not do with a conventional email list. Twitter relatively only restricts the functionality. Yet by doing this, it allowed the user interface to become even simpler, and that ultimately made it the preferred choice.
    %p In our case, one could use PayPal buttons to enable donations for specific causes. Yet it's not as simple as a single denomination. And it does not work for small and sub-dollar amounts.

    %strong Why 25 cents specifically?
    %p On iTunes, one can buy a hit song for just below a dollar and own it for the rest of one's life. So we figured that much of print, photography, video media will be valued in that sub-dollar range -- 25c, 50c -- and that's what we are seeking to facilitate in the easiest way possible. We actually started with nickels but figured that nickels don't add up sufficiently.

    %strong Can I micro-donate more than 25 cents?
    %p Yes, by clicking the 25c button multiple times in sequence. This transfers corresponding multiples of 25 cents. Click it twice and you transfer 50 cents; click it three times and you give 75 cents; etc. The software architecture is carefully designed to enable very rapid repeat clicking.

    %strong You offer a Short URL service?
    %p Pointing people to valuable content is as much of a valuable activity as the valuable content itself. Great things that no-one knows about are not that useful. So we built in a way of allowing referrers to earn along. That's mostly people who have tens of thousands of followers on Twitter or G+. There's no down-side to using our Short URL service as opposed to another one. Only upside.

    %strong What do you hope to achieve with 25c?
    %p 25c hopes to help support creators of quality content. The old purveyors of quality content are institutionally struggling these days while the new purveyors in the form of savvy bloggers, curators, etc. have an opportunity to tap into the support of their fans in a way that advertising does not provide.
    %p A journalist might have gotten paid $50 for an article in the old days. That's two hundred times 25-cent, or one percent of two thousand readers contributing. Something possibly very achievable over time.
    %p Our hope is to help shift the incentive system towards compensating creators based on what people value as opposed to what advertisers value.


    %strong Do you have patents?
    %p We have a patent portfolio around multi-1-click micro-payments as well as the Twitter Short URL referrer compensation system as well as a host of related ideas and concepts which are part of our development pipeline.

    %h3 USERS
    %strong How can I micro-donate 50 cents?
    %p Simply click the 25c Gratuity Button twice. It's designed to be clickable in series very fast.

    %strong Can I undo 25c tips I gave?
    %p Yes, no problem. You can undo cancel tips for up to 180 days after you made them.

    %strong I filled my 25c jar but would like to get it refunded.
    %p Absolutely. We are happy to refund you all of your unspent 25c's. (Bank transaction fees apply.)

    %strong How can I pay?
    %p We support all major credit cards (and some debit cards). This includes Visa, MasterCard, Discover.

    %strong What is 25c Inc.'s cut?
    %p It is between 1 and 5 cents per donation depending on network volume. Presently it is 5 cents.

    %strong I am not U.S. based. Can I use 25c?
    %p Yes. We support users in over 190 countries.

    %h3 PROVIDERS
    %strong How do I get paid?
    %p A deposit to your linked bank account on the 10th of every month (or the next business day).

    %strong Can I ask for an amount different than 25 cents?
    %p No. Each click is 25 cents. But users may click multiple times for a multiple of value.

    %strong Isn't this restrictive?
    %p People buy music for 99 cents on iTunes. So we figured the value of most other single items of online content is either 25 cents, 50 cents, 75 cents, or $1 -- equivalent to 1, 2, 3, or 4 clicks on the 25c Gratuity Button.

    %h3 REFERRERS
    %strong How can I make money through referrals using my Twitter following?
    %p Use the Share functionality to send a page with a 25c Button to your followers, and earn 20% of donations resulting from it.

    %strong What is my cut?
    %p 5 cents per referral that leads to a donation.
