.row
  .span12
    %h2.page-header Frequently Asked Questions
  .span12

    %h3 USERS
    
    %strong How can I micro-donate 50 cents?
    %p Simply click the 25c Gratuity Button twice.  It's designed to be clickable in series very fast.

    %strong Can I undo 25c tips I gave?
    %p Yes, no problem.  You can undo cancel tips for up to 180 days after you made them.

    %strong I filled my 25c jar but would like to get it refunded.
    %p Absolutely.  We are happy to refund you all of your unspent 25c's.  (Bank transaction fees apply.)

    %strong How can I pay?
    %p We support all major credit cards (and some debit cards).  This includes Visa, MasterCard, Discover.

    %strong What is 25c Inc.'s cut?  
    %p Simple: 5 cents per donation.

    %strong I am not U.S. based.  Can I use 25c?
    %p Yes.  We support users in over 190 countries.

    %h3 PROVIDERS
    
    %strong How do I get paid?
    %p A deposit to your linked bank account on the 10th of every month (or the next business day).

    %strong Can I ask for an amount different than 25 cents?
    %p No.  Each click is 25 cents.  But users may click multiple times for a multiple of value.

    %strong Isn't this restrictive?
    %p People buy music for 99 cents on iTunes.  So we figured the value of most other single items of online content is either 25 cents, 50 cents, 75 cents, or $1 -- equivalent to 1, 2, 3, or 4 clicks on the 25c Gratuity Button.

    %strong Isn't the 5-cent fee high to referrers?
    %p It's strictly incremental income for you for any referrals you obtain.  There's value in content as well as in learning about the existence of it.

    %h3 REFERRERS
    %strong How can I make money through referrals using my Twitter following?
    %p Generate a Short URL on our website, send it to your followers, and earn 20% of donations resulting from it.

    %strong What is my cut?
    %p 5 cents per referral that leads to a donation.