.padded
  
  %h1 Frequently Asked Questions

  %h2 What does 25c do?

  %p 25c offers widgets that publishers can use to turn fans into sponsors. 
  %p
  %p Widgets allow fans to directly sponsor content they like by giving 25c points -- and be seen and heard more than other users.
  %p
  %p Through the 25c point system, our widgets make it easy to give amounts as small as 25 cents or as large as $100 without requiring a separate credit card charge for every pledge.
  %p
  %p Our widgets incorporate lessons learned from Internet casual gaming.  In order to encourage participation, top sponsors are featured with their photo.  Top sponsors may also leave a brief note with their donation (if the publisher opts for this feature).  Sponsors are also notified when others give more, encouraging them to continue to donate.
  %p
  %p Best of all, the 25c widgets are FREE.  There are no up-front and no monthly expenses..  Revenue is shared 85%/15% much like on Google AdSense and the contributions are paid directly into your checking account.  
  %p
  %pBut unlike Google AdSense, which places unrelated third-party advertisers on your site, the 25c widget shows your very own fans.
  %p
  %p
  %hr
  %p
  
  %h2 How does it work?
  
  %p Each 25c point is worth 25 cents. Every new user receives 10 points upfront, equivalent to $2.50.  This allows users to give the widget a try at no cost.No user registration is required other than a Facebook login.  The Facebook login is used only for authenticating and uniquely identifying users who decided to become sponsors. Once users have logged in, they can assign points to content they like. 
  %p
  %p The 25c widget is typically inserted on a web page below the content of an article and above the user commenting system. It displays who the top sponsors are and allows users to give tips as small as 25 cents simply by clicking the 'Give' button.
  %p
  %p When a user wants to give more points than they have, they may purchase a pack of additional points and give those across the participating sites.
  %p
  %p There are no monthly or recurring charges to users.  Users fully control the pace that they give Based on what they truly value and enjoy.  Without being on any schedule.
  %p
  %hr
  %p
  
  %h2 What is the 25c point system about?
  
  %p In order to make it as easy as possible for your fans to give, our widgets are based on a point system:  Users purchase packs of points once and then can give those points to any participating website with much less overhead than is involved in charging a credit card. Every user receives 10 points up-front so they can try out the widget functionality immediately.  Users can then buy additional points or receive them as a reward. 
  %p
  %p The purchase of points is non-refundable as per our Terms of Service.
  %p
  %hr
  %p

  %h2 How does the 25c widget related to my user commenting system?

  %p The 25c widget offers different functionality than  user commenting systems. Typically publishers install the 25c widget between the main content of a page and the user commenting system. The 25c widget is about sponsorship payments and "top fan" recognition.  It is not about discussion.  

  %p An analogy: In a museum, people mill around and chit chat about the exhibit. But the sponsors who made the exhibit possible are listed on a plaque. 25c seeks to honor and incentivize that type of sponsorship on the web.  

  %p Users may give anonymously as well on 25c.
  %p
  %hr
  %p

  %h2 As a publisher, how do I get paid?

  %p We share revenue with publishers who provide space for our widget: the publisher receives 85% while we take 15%. 
  %p The 25c widget is free to install with no monthly or up-front charges to website owners. We get paid only if you get paid. After embedding a 25c widget into your content, monitor your dashboard on 25c.com to track the revenue your widgets are generating. Connect your bank account to obtain your share of revenue through an ACH transfer directly into your bank account. Additionally, on sites that feature multiple authors, site owners can use 25c to share revenue with their content creators. 
 
