.row.main-content
  .span11
    %h2.page-header Frequently Asked Questions
  .span11
    %h4 What does 25c do?
    %p 
      25c simplifies social micro-donations.  It empowers people to easily & directly support a 
      creator with a purpose they value: one quarter each click.  For creators, we make it easy to 
      embed a +25c Button into their blog, website, or video -- and collect 25c pledges from their 
      users.
    %p 
      We don't get in between contributors and receivers with complicated algorithms: If someone 
      pledges 25 cents, that's what the receiver will obtain (minus processing fees).

    %h4 What is the catch?
    %p 
      There is no downside, only upside for creators to embed our +25c Button.  It is purely 
      incremental income.

    %h4 What are the fees?
    %p See our <a href="fees">Fees</a> page.   We are committed to providing a low-cost utility.

    %h4 Does the +25c Button work like the Facebook "Like" button?
    %p 
      Yes, the +25c Button essentially combines the functionality of a 'Like' button with that of a 
      25-cent pledge and associated payment processing.
    %p 
      The Facebook 'Like' button is being clicked more than three billion times every day by people 
      around the world.  A discriminating fraction of these endorsements can now carry 25-cent 
      pledges.

    %h4 Can I add a Button with a different per-click amount?
    %p 
      No.  It's 25 cents or (via multiple clicks) multiples thereof only.  It's part of making the 
      service as simple as possible.  Less is often more, and we very much want to offer the 
      simplest user experience.

    %h4 Can I pledge 50 cents or more?
    %p 
      Yes, by repeatedly clicking the same +25c Button.  You can click the +25c Button very fast in 
      sequence -- our software was carefully designed to enable just that.  Click it twice and you 
      pledged 50 cents; etc.

    %h4 Can I undo a 25c pledge I made?
    %p Yes, no problem. You can undo pledges for up to 30 days after you made them.

    %h4 When do I pay?
    %p 
      Feel free to make forty (40) 25c pledges at your leisure.  Once you reach that amount, we will 
      remind you to pay for them.
    %p 
      We support all major credit cards (and some debit cards). This includes Visa, MasterCard, 
      Discover.  We support users in over 190 countries.

    %h4 Do you process payments?
    %p 
      Our payment partner does.  At 25c Inc., we operate a pledge processing service that 
      integrates with the services of licensed money transmitters for payment transfer.   25c Inc. 
      never holds, or transmits, or receives for transmission, any currency, funds, or other value, 
      and does not sell any stored value.  All 25c pledges are publicly viewable.

    %h4 What is the background on 25c?
    %p 
      There are so many people online these days that small contributions made by many do add up 
      and can make a big difference for creators of high-value content or causes.  100,000 times 25 
      cents is $25,000 after all.  
    %p 
      In recent years, people have increasingly become accustomed to making small payments online.  
      iTunes, Zynga, etc. have helped form that habit.  People enjoy expressing their gratuity for 
      what they truly value yet it is not always simple for them to do so.
      
    %p 
      The implementation of this can take many shapes and forms -- and the first idea we have 
      implemented along these lines is one focused on providing a simple utility that mostly gets 
      out of the way. 

    %h4 What do you hope to achieve with 25c?
    %p 
      We hope to help shift the incentive system towards compensating creators for "value to a user" 
      more than "value to a third party".  Value to an advertiser (whether in the form of   
      high-quantity page views or "high-value" users) is just not the same as value to a user.  The 
      Internet enables a direct connection between providers of quality content and/or causes and 
      those people who value such highly.  It's just a design challenge on how to make monetary 
      support flow along that dimension.
    %p
      Quality media support and drive our societal well being.  In that sense, there is no more 
      important project than incentivizing quality media.
