- content_for :title, "25c - Frequently Asked Questions"
- content_for :meta_description, "25c simplifies social micro-donations. One click, one quarter. Quickly install the +25c button on your website or blog and use it to start receive 25c pledges today!"

<div id="action-container" class="center">
<span id="action-question">
Ready to get started with 25c?
</span>
<a id="action-button" class="btn btn-strong" href = #{home_receive_pledges_path}>
Get Set Up to Collect Micro-Donations
</a>
</div>

<h2 class="page-header">Frequently Asked Questions</h2>

<h4>What does 25c do?</h4>

<p>25c is the best way to give and receive tips online.  

<P>Anyone who has a website, blog, Pinterest board or Youtube video can easily embed their own +25c Button (or link) and start receiving 25c pledges in a breeze.

<P>There is no $1 minimum for a tip because that's often too large. With 25c, tips as small as 25 cents are processed -- in fact all the way into your bank account if you like.

<P>Giving tips is as easy as "one click" using 25c -- just a Facebook or Google login is required.  No high-overhead login is required with a payment service or banking system.

<P>Finally, through "Pledge Now, Pay Later", you end up connecting with more fans and collecting more support.  

<h4>How does it work?</h4>

<P>As a supporter, you may pledge up to $10 in tips at your leisure.  Simply click away.  You may undo your pledges at any time up to the point of funding them.

<P>Click +25c to pledge a quarter.  To tip a larger amount, click & hold the +25c Button to accelerate the counter or directly enter the desired amount.

<P>Once you pledged more than $10 in total, we ask you to fund the tips you pledged through a (non-refundable) charge to your credit card.  

<P>As a receiver, once you are set up, we pay out funded tips to you quarter by quarter into your bank account if you like -- our implementation makes this possible courtesy of <a target=other href=http://www.dwolla.com>Dwolla</a> -- or we pay you via an ACH transfer (minimum: $10) directly into your bank account.

<h4>What is the catch?</h4>

<p>There is no downside, only upside for collecting 25c tips.  Plus being a top giver or receiver makes you additionally stand out.</p>

<h4>What are the fees?</h4>

<p>See our <a href="fees">Fees</a> page.  As a company, we are committed to providing a low-cost utility.</p>

<h4>Can I pledge more than 25 cents?</h4>

<p>Yes, by repeatedly clicking the same +25c Button.  Or by holding down the +25c Button you accelerate a counter of your tip amount.  Or by entering the desired amount directly.

<h4>Can I undo a 25c tip I pledged?</h4>

<P>Yes, no problem. You can undo pledges until you fund them.</p>

<h4>Can I add a Button with a different per-click amount?</h4>

<p>No.  It's 25 cents or -- via multiple clicks or mouse-down -- multiples thereof.  It's part of making the user experience as simple as possible.  

<h4>How do I pay?</h4>

<P>We support all major credit cards (and some debit cards). This includes Visa, MasterCard, Discover.  We support users in over 190 countries.</p>

<h4>How do I get paid?</h4>

After embedding the +25c Button into your content, monitor your dashboard on 25c.com for tips being pledged.  When you have received a good number of pledges, set up the bank connection.  With the bank(s) we are using, we can pay you quarter by quarter if you like.

<h4>Do you process payments or transmit money?</h4>

<p>Our payment partners do.  At 25c Inc., we operate a pledge processing service that integrates with the services of licensed money transmitters for payment transfer.   25c Inc. never holds, or transmits, or receives for transmission, any currency, funds, or other value, and does not sell any stored value.  Furthermore, no 25c pledge is ever concealed; all 25c pledges are publicly viewable.</p>

<h4>What patents do you own?</h4>

We own numerous patents regarding "Like + micro-pay", "multi-one-click" micro-donations, associated systems designs, as well as techniques and designs for cost-effectively enabling social micro-donations (with such cost being financial as well as regulatory).

<h4>What do you hope to achieve with 25c?</h4>

<P>We hope to help shift the economic basis incrementally towards incentivizing creators for "value to you" in addition to -- and/or more than -- "value to an advertiser".  

<P>There is a subtle yet distinct difference in creating something that attracts ten million viewers valued by an advertiser versus creating something that 10,000 people value sufficiently to click '+25c'.

