<div id="action-container" class="center">
<span id="action-question">
Ready to get started with 25c?
</span>
<a id="action-button" class="btn btn-strong" href = #{publisher_receive_pledges_path}>
Get Set Up to Collect Micro-Donations
</a>
</div>

<h2 class="page-header">Frequently Asked Questions</h2>

<h4>What does 25c do?</h4>

<p>25c offers gift based widgets that creators and publishers can embed into their online content to receive direct sponsorship support by their best fans.  

<P>Widgets allow users to promote the visibility of their comments, directly sponsor content, etc. -- in exchange for receiving acknowledgment from the creator and visibility on the site.

<P>Publishers of websites or blogs can easily embed 25c's widgets and start receiving gifts as small as 25 cents in a breeze.

<h4>How do gifts work?</h4>

<P>Gifts are "Pledge Now, Pay Later", so creators/publishers end up connecting with more fans and collecting more support.   

<P>Pledging gifts is as easy as "one click" using 25c -- just a Facebook or Google login is required.  No high-overhead login is required with a payment service or banking system.  

<p>There is no $1 minimum for gifts because that's often too large. With 25c, gifts as small as 25 cents are processed -- in fact all the way into your bank account if you like.

<h4>What are the fees?</h4>

<p>See our <a href="fees">Fees</a> page.  As a company, we are committed to providing low-cost utilities to help creators and publishers enhance their income.</p>

<h4>Can I undo a 25c gift pledged?</h4>

<P>Yes, no problem. You can undo pledges until you fund them.  However, don't apply this too liberally -- as your reputation matters.

<h4>How do I fund the gifts I pledged?</h4>

<P>Through a charge to your credit card.  We support all major credit cards (and some debit cards). This includes Visa, MasterCard, Discover.  We support users in over 190 countries.</p>

<h4>As a creator or publisher, how do I get paid?</h4>

After embedding a 25c widget into your content, monitor your dashboard on 25c.com for gifts being pledged.  When you have received a good number of gifts, set up the bank connection.  If you use Dwolla as your bank, we can pay you quarter by quarter if you like.  With all common commercial banks, we can pay you with a low-cost ACH transfer directly into your bank account.

<h4>Do you process payments or transmit money?</h4>

<p>Our payment partners do.  At 25c Inc., we only collect pledges for payments that we accumulate and integrate with the services of licensed money transmitters for payment fulfillment.

<h4>What patents do you own?</h4>

We own a host of patents regarding "Like + micro-pay", "multi-one-click" micro-donations, associated systems designs, as well as techniques and designs for cost-effectively enabling social micro-donations.  We further own patents on pay-based user commenting systems and other widgets.

<h4>What do you hope to achieve with 25c?</h4>

<P>There is a subtle yet distinct difference in creating something that attracts ten million viewers valued by an advertiser versus creating something that 10,000 people value high enough to sponsor it with a bit of their real money (if as little as 25 cents).

<P>By adding financial bottomline for "value to you" (besides "value to advertiser"), we hope to incentivize creation of content that people truly value.
