<div id="action-container" class="center">
<span id="action-question">
Ready to get started with 25c?
</span>
<a id="action-button" class="btn btn-strong" href = #{home_receive_pledges_path}>
Get Set Up to Collect Micro-Donations
</a>
</div>

<h2 class="page-header">Frequently Asked Questions</h2>

<h4>What does 25c do?</h4>

<p>25c simplifies social micro-donations. One click, one quarter.

<P>Anyone who has a website, blog, photo collection or video can easily embed a customized +25c Button (or link) and start receiving 25c pledges in a breeze.

<p>We don't get in between givers and receivers with complicated schemes: If someone pledges 25 cents to someone, that's exactly what the receiver will obtain (minus processing fees).  Quarter by quarter.

<h4>How does it work?</h4>

<P>As a backer, you may make forty 25c pledges at your leisure.  Then we ask you to fund them through a (non-refundable) $10 charge to your credit card. Once funded, a 25c pledge is eligible for pay-out.  You may undo your pledges at any time up to the point of funding them.

<P>As a collector, once you are set up and have received micro-donations, we pay them out to you quarter by quarter into your bank account if you like -- our implementation makes this possible (courtesy of <a target=other href=http://www.dwolla.com>Dwolla<a>).

<h4>What is the catch?</h4>

<p>There is no downside, only upside for collecting 25c's.  It is purely incremental income. Plus being a top giver or receiver makes you additionally stand out.</p>

<h4>What are the fees?</h4>

<p>See our <a href="fees">Fees</a> page.  As a company, we are committed to providing a low-cost utility.</p>

<h4>Can I pledge more than 25 cents?</h4>

<p>Yes, by repeatedly clicking the same +25c Button.  You can click the +25c Button very rapidly in sequence -- our software was carefully designed to enable just that.  Click it twice to pledge 50 cents; etc.</p>

<h4>Can I undo a 25c pledge I made?</h4>

<P>Yes, no problem. You can undo pledges until you fund them.</p>

<h4>Can I add a Button with a different per-click amount?</h4>

<p>No.  It's 25 cents or -- via multiple clicks -- multiples thereof.  It's part of making the user experience as simple as possible.  

<h4>How do I pay?</h4>

<P>We support all major credit cards (and some debit cards). This includes Visa, MasterCard, Discover.  We support users in over 190 countries.</p>

<h4>How do I get paid?</h4>

After embedding the +25c Button into your content, monitor your dashboard on 25c.com for 25c pledges coming in.  When you have received a good number of 25c pledges, set up the bank connection.  With the bank(s) we are using, we can pay you quarter by quarter if you like.

<h4>Do you process payments, transmit money?</h4>

<p>Our payment partners do.  At 25c Inc., we operate a pledge processing service that integrates with the services of licensed money transmitters for payment transfer.   25c Inc. never holds, or transmits, or receives for transmission, any currency, funds, or other value, and does not sell any stored value.  Furthermore, no 25c pledge is ever concealed; all 25c pledges are publicly viewable.</p>

<h4>What patents do you own?</h4>

We own numerous patents regarding "Like + micro-pay", "multi-one-click" micro-donations, associated systems designs, as well as techniques and designs for cost-effectively enabling social micro-donations (with such cost being financial as well as regulatory).

<h4>What do you hope to achieve with 25c?</h4>

<P>We hope to help shift the economic basis incrementally towards incentivizing providers for "value to you" more than "value to a third-party advertiser".  Value to an advertiser -- whether in the form of high-quantity page views or "high-value" users -- is just not the same as "value to you". 

<P>There is a subtle but distinct difference in creating something that attracts ten million viewers valued by an advertiser or creating something that gets 10,000 people to click '+25c'.

<p>Quality media support and drive the quality of our social decision making and ultimately our societal well being.  In that sense, there is no more important project than incentivizing quality media.

<P>Small change for big change.
