<div class="row main-content">

<div class="span11">

<h2 class="page-header">Frequently Asked Questions</h2>

</div>

<div class='span11'>

<h4>What does 25c do?</h4>

<p>25c simplifies social micro-donations. One quarter, one click.  

<P>Anyone who has a has a website or blog can easily embed a customized +25c Button and start receiving 25c pledges.  Those who don't have their own website can simply create a profile page on 25c.com and start collecting 25c pledges there. 

<p>We don't get in between givers and receivers with complicated schemes: If someone pledges 25 cents to someone, that's what the receiver will obtain (minus processing fees).</p>

<h4>What is the catch?</h4>

<p>There is no downside, only upside for collecting 25c's.  It is purely incremental income. Plus being a top receiver makes you additionally stand out.</p>

<h4>What are the fees?</h4>

<p>See our <a href="fees">Fees</a> page.   We are committed to providing a low-cost utility.</p>

<h4>Does the +25c Button work like the Facebook "Like" button?</h4>

<p>In a sense, our +25c Button combines the functionality of a 'Like' button with that of a 25-cent pledge and integrated payment processing.</p>

<p>The Facebook 'Like' button is being clicked more than three billion times every day by people around the world.  A discriminating fraction of these endorsements can now carry 25-cent pledges.</p>

<h4>Can I pledge 50 cents or more?</h4>

<p>Yes, by repeatedly clicking the same +25c Button.  You can click the +25c Button very rapidly in sequence -- our software was carefully designed to enable just that.  Click it twice and you pledged 50 cents; etc.</p>

<h4>Can I add a Button with a different per-click amount?</h4>

<p>No.  It's 25 cents or (via multiple clicks) multiples thereof only.  It's part of making the user experience as simple as possible.  For larger amounts, you can multiple times on the same button or make a daily recurring contribution of some multiple of 25c's.</p>

<h4>Can I undo a 25c pledge I made?</h4>

<p>Yes, no problem. You can undo pledges until you funded them.</p>

<h4>When do I pay?</h4>

<p>Feel free to make forty (40) 25c pledges at your leisure.  Once you reach that number, we will ask you to fund them so that the pledgees can get paid.</p>

<p>For funding your pledges, we support all major credit cards (and some debit cards). This includes Visa, MasterCard, Discover.  We support users in over 190 countries.</p>

<h4>Do you process payments, transmit money?</h4>

<p>Our payment partner does.  At 25c Inc., we operate a pledge processing service that integrates with the services of licensed money transmitters for payment transfer.   25c Inc. never holds, or transmits, or receives for transmission, any currency, funds, or other value, and does not sell any stored value.  All 25c pledges are publicly viewable.</p>

<h4>What is the background on 25c?</h4>

<p>There are so many people online these days that small contributions made by many do add up and can make a big difference for providers of high-value content or causes.  100,000 times 25 cents is $25,000 after all.</p>

<p>In recent years, people have increasingly become accustomed to making small payments online.  iTunes, Zynga, etc. have helped form that habit.  People enjoy expressing their gratuity for what they truly value yet it is not always simple for them to do so.</p>

<p>The implementation of this can take many shapes and forms -- and no service has yet quite nailed it right.  Our first idea we have implemented is one focused on providing a simple utility that mostly gets out of the way.</p>

<h4>What do you hope to achieve with 25c?</h4>

<p>We hope to help shift the incentive system towards compensating providers for "value to you" more than "value to a third party".  Value to an advertiser (whether in the form of high-quantity page views or "high-value" users) is just not the same as "value to you". 
<P>The Internet enables a direct connection between providers of quality content/causes and those who value such highly.  It's just a design challenge on how to make some monetary support flow along that dimension.</p>

<p>Quality media support and drive the quality of our social decision making and ultimately our societal well being.  In that sense, there is no more important project than incentivizing quality media.</p>
</div>
</div>
