<h2 class="page-header">Fees and Payment</h2>

<h4>Backers</h4>

<P>You may make forty 25c pledges at your leisure, without payment.  

<P>When you reach forty 25c pledges, we ask you to pay $10 through a charge to your credit card.  The $10 payment is non-refundable.

<P>You may undo 25c pledges at any time up to the point of payment.  Every 25c pledge is visible on your public 25c pledge profile.

<h4>Receivers</h4>

<P>Once funded, a 25c pledge is eligible for pay-out.  You may request a pay-out at any time, and our implementation even makes it possible for us to pay you out quarter by quarter if you like.

<P>Our fee is very simple and transparent:  For every 25c pledge funded, we deduct 1.25 cents from the amount paid out.

<p>In addition, the usual consumer card fees apply and are also deducted from the pay-out amount.  For credit card processing, this is on the order of 3%.  Using our system, there is no additional fee for pay-outs into your account as little as 25 cents per transfer.
