<h2 class="page-header">Fees and Payment</h2>

<h4>Givers</h4>

<P>There is no fee for making 25c pledges.

<P>You may make forty (40) 25c pledges at your leisure, without payment.  You may undo 25c pledges at any time up to the point of funding them.

<P>Once you made forty 25c pledges, we ask you to pay with a $10 charge to your credit card.  Your usual consumer credit charge fees apply, if any.  The $10 payment is non-refundable.

<h4>Receivers</h4>

Once funded, a 25c pledge is eligible for pay-out.  The minimum pay-out amount is $50.

<P>Our fee to receivers is very simple and transparent:  For every 25c pledge funded, we deduct 1.25 cents from the amount paid out to receivers.

<p>In addition, the payment service used may charge certain customary fees (for credit card processing on the order of 3%), which are deducted from the pay-out.</p>

<p>Note that payments are made according to the 25c patent-pending algorithm directly between 25c network participants using a licensed money transmitter.  25c Inc. never holds, or transmits, or receives for transmission, any currency, funds, or other value, and does not sell any stored value.  Furthermore, all 25c pledges are public at any time.
