<div class="row main-content">

<div class="span11">

<h2 class="page-header">Fees</h2>

</div>

<div class='span11'>

<p>Our pricing is very simple, transparent, and with no strings attached:</p>

<p>For every 25c pledge made, we deduct 1.25 cents from any future payout aggregate.</p>

<p>In addition, the financial services used will charge certain customary fees (for credit card processing on the order of 3%).</p>

<p>Note that pledges are fulfilled via payments made directly between 25c network participants using a licensed money transmitter.  25c Inc. never holds, or transmits, or receives for transmission, any currency, funds, or other value, and does not sell any stored value.</p>

</div>
</div>