.padded

  %h1 Fees and Payment

  %h2 Sponsors
  %p You may pledge twenty 25c gifts at your leisure, without payment.  
  %p When you have pledged twenty 25c gifts, we ask you to pay $5 through a charge to your credit card as a non-refundable service charge.
  %p You may undo 25c pledges at any time up to the point of payment.

  %h2 Creators/Publishers
  %p Once funded, a pledged 25c gift is eligible for pay-out.  You may request a pay-out at any time.
  %p The 25c processing fee is 25 percent of the gross amount.
  %p In addition, the usual consumer card fees apply and are also deducted from the pay-out amount.  For credit card processing, this is on the order of 3%.
