.padded

  %h1 Fees and Payment

  %h2 Users, Sponsors
  %p There is no fee for giving points.
  %p When you buy additional 25c points, there is a charge to your credit card.
  
  %hr

  %h2 Creators, Publishers
  %p Once funded, a pledged 25c gift is eligible for pay-out.  You may request a pay-out at any time.
  %p The 25c processing fee is 25 percent of the gross amount.
  %p The usual consumer card fees apply and are also deducted from the pay-out amount.  For credit card processing, this is on the order of 3%.
