.row.main-content
  .span11
    %h2.page-header Fees
  .span11
    %p Our pricing is very simple, transparent, and with no strings attached:

    %p For every 25c pledge made on our social network, we deduct 5% (or 1.25cents) from any future payout aggregate. 

    %p In addition, the financial services used will charge certain fees. Note that all payments are made between 25c network participants using a licensed money transmitter.  25c Inc. never holds, or transmits, or receives for transmission, any currency, funds, or other value, and does not sell any stored value. 
