<h2 class='page-header'>Terms Of Use</h2>

<div class='span11'>

<p>25c is a platform that makes it easy for certain users ("Users", "Backers") to pledge small amounts of money for causes they support provided by other users ("Receivers", "Providers").  Backers will receive a 25c badge and recognition for their payment.

<P>For reasons of regulatory compliance and transactional expense management, legally, a "25c pledge" is just a vote in support of a project.  Based on the votes received by Users, 25c determines a payment priority queue for peer-to-peer payments in amounts of $10 or larger, such queue designed to converge over time to match the Users' funding preferences.  

<P>Through the +25c Button and the 25c.com website, Users engage in voting for causes through the submission of "25c pledge" votes.  Once a User has made forty (40) 25c pledges and one of the Receivers voted for by them has collected more than forty (40) votes, the User is being asked to make a $10 payment to one of the Providers they voted for.  Users agree to make that payment to the identified Receiver.

<P>Payments made by Backers to 25c-suggested Receivers are processed by 25c's Payment Partner.  25c Inc. is not responsible for the performance of its Payment Partner.  25c Inc. never holds, or transmits, or receives for transmission, any currency, funds, or other value, and does not sell any stored value.</p>

<p>Please read the following terms of use carefully before using 25c. By using any part of our website or any of our services (as each is defined below), you agree to be bound by these terms of use. If you do not agree to all the terms of use, you may not use any part of our website or use any of our content or services. You cannot accept these Terms if: (a) you are not lawfully entitled to use the 25c websites or services in the country in which you are located or resident or (b) if you are not of legal age to form a binding agreement with 25c.</p>

<h4>1. BACKGROUND</h4>

<p>The 25c Service (defined below) is owned and operated by 25c Inc. (“25c”, “we”, “us” or “our”), a Delaware corporation, and is used by you under these terms of use (“Terms”) which outline your obligations when using the 25c services (“Service”). The Service includes but is not limited to the use of 25c.com website, the web and mobile pages available at 25c.com (“25c website”) or third-party sites employing 25c services, the 25c.com Short URL referral/redirect service, the 25c button and associated user interface code (“Button”), and the network of Button-enabled websites (“Network”) or Button-enabled websites contained within but not limited to text, user comments, messages, information, data, graphics, news articles, photographs, images, illustrations, software, audio clips and video clips (“Content”). You should also review our Privacy Policy, which outlines our obligations and practices towards handling any personal information that you may provide to us. “You” and “your” refer to anyone using the 25c website or using the Service.</p>

<h4>2. MODIFICATIONS OF TERMS</h4>

<p>25c reserves the right to modify or replace at its sole discretion the Terms at any time. 25c will notify you of any changes to the Terms by posting an announcement on the 25c website. You will be responsible for reviewing and becoming familiar with any such modifications. Use of the Service or the 25c website by you following such notification constitutes your acceptance of the Terms as modified. We encourage you to periodically check the 25c website for any changes to the Terms.</p>

<h4>3. SERVICE</h4>

<p>Subject to your full compliance with the Terms and at 25c’s sole discretion, 25c may provide you with the Service. The Service will include but not be limited to the use of the 25c website, the +25c Button, the Network, the Content, the Button-enabled websites contained within the Content, the 25c Short URL services, any other service and content 25c offers you, as well as the offering of any materials displayed, transmitted or performed on the 25c website or through the Service. 25c may change, suspend or discontinue the Service, including the availability of any feature or content, for any reason and at any time. 25c may also impose limits on certain features of the Service or restrict your access to parts or the whole of the Service without notice or liability.</p>

<h4>4. USER CONDUCT</h4>

<p>As a condition of use of the 25c website and the Service, you agree that you are responsible for any activity that occurs under your account and that you are responsible for keeping your password secure. Additionally, you agree not to use the Service for any purpose that is unlawful or prohibited by these Terms or any other purpose not reasonably intended by 25c. By way of example only, and not as a limitation, you agree not to use the Service:</p>

<p>(i) to abuse, harass, threaten, impersonate or intimidate other 25c users or anyone else;</p>

<p>(ii) to post or transmit, or cause to be posted or transmitted, any Content that is infringing, libelous, defamatory, obscene, abusive, offensive, profane or otherwise violates any law or right of any third party;</p>

<p>(iii) for any illegal or unauthorized purpose. If you are an international user, you agree to comply with all local laws regarding online conduct and acceptable content;</p>

<p>(iv) to post or transmit, or cause to be posted or transmitted, any communication or solicitation designed or intended to obtain password, account or private information from any 25c user;</p>

<p>(v) to create or submit unwanted email, also known as “spam”, to any other 25c user or any URL;</p>

<p>(vi) to submit stories or comments linking to affiliate programs, multi-level marketing schemes, websites/blogs repurposing existing stories (source hops) or off-topic content;</p>

<p>(vii) with the exception of accessing RSS feeds, you will not use any robot, spider, scraper or other automated means to access the 25c website for any purpose without our express written permission. Additionally, you agree that you will not: (i) take any action that imposes or may impose at our sole discretion an unreasonable or disproportionately large load on our infrastructure; (ii) interfere or attempt to interfere with the proper working of the 25c website or any activities conducted on the 25c website; or (iii) bypass any measures we may use to prevent or restrict access to the 25c website;</p>

<p>(viii) with the intention of artificially inflating or altering the number of Button clicks, comments or any other 25c services, including by way of creating separate user accounts for the purpose of artificially altering any 25c’s services (including but not limited to the Service); or participating in any other organized effort that in any way artificially alters the results of any 25c’s services (including but not limited to the Service);</p>

<p>(ix) to use any information obtained from the Service in order to contact, advertise to, solicit or sell to any user without their prior explicit consent;</p>

<p>(x) sell or otherwise transfer your profile.</p>

<p>In addition, you agree that you will not use the Service on behalf of or at the request or instruction of any third party. Furthermore, you will not request any third party, pay or otherwise attempt to influence any third party to manipulate or otherwise affect the 25c website in any manner. 25c may remove any part of the Content or 25c User Accounts (defined below) at any time for any reason (including but not limited to upon receipt of claims or allegations from third parties or authorities relating to such Content and 25c User Accounts) or for no reason at all. To report Service abuse, please send an email to abuse@25c.com.</p>

<p>You are solely responsible for your interactions with other users of the Service. 25c reserves the right but has no obligation to monitor disputes between you and other 25c users. If you breach any part of these terms, 25c has the right to immediately terminate your access to the Service.</p>

<p>The Service may involve the placement of the Buttons on third-party websites. You understand and agree that 25c may not have reviewed and cannot review all of the material, including but not limited to computer software and any content, made available through the websites and web pages on which the Buttons reside. Furthermore, 25c does not represent or endorse any such website or webpage.</p>

<p>25c disclaims any responsibility or liability of any kind for any harm or damage resulting from your use of 25c-enabled websites, including any damage arising from viruses, worms, Trojan horses and other harmful or destructive content, and with respect to your dealings and transactions with any 25c users, Providers (defined below) or any third party.</p>

<h4>5. YOUR 25C ACCOUNT AND REGISTRATION OBLIGATIONS</h4>

<p>If you register with 25c and install a Button on your own Internet offering or submit content to 25c Profile pages, you are a “Provider”. If you are a visitor to a Provider’s website or using the Service and have already registered with 25c, you are a “User”.</p>

<p>Backers: In order to be a Backer, you must be a User. Backers utilize the 25c interfaces to pledge funds to Providers.</p>

<p>Providers: In order to be a Provider, you must be a User. Each Provider must also designate a payment account or instrument approved and accepted by 25c (“Designated Account”) into which 25c will place their 25c Proceeds (defined below). Providers must create one or more Buttons and place them on web pages controlled by them.</p>

<p>Users: Registering as a User involves creating an account on the Service (“User Account”), providing contact information (including email address), selecting a password and the name associated with your User Account and displayed on the Service to represent you (“User Name”) and, if you wish, providing other information about you.</p>

<p>You may choose to use as your User Name, your real name or a made-up name and any other information about you provided: (i) the name or the information is not that of another person and is not given with the intent to impersonate that other person; (ii) the name or the information is not subject to any rights of a person or an entity other than your rights or the rights of a person or an entity on whose behalf you are legally authorized to act; or (iii) the name is not offensive, vulgar or obscene, or otherwise a violation of these Terms.  25c will be the sole arbiter of these restrictions, however, 25c does not monitor User Names directly. Objectionable names or information may be reported to 25c via abuse@25c.com. 25c reserves the right to refuse the registration of or cancel a User Account at its sole discretion at any time and for no reason at all. However, 25c cannot and does not guarantee that any User Name will not be offensive or objectionable to you and 25c is not responsible for any harm or damage to you based on any User’s or Provider’s selection of a User Name.</p>

<p>If requested by 25c, you agree to provide 25c with additional information on you or your services within a reasonable time and failure to do so may result in your User Account being terminated or suspended. Upon your proper registration with the Service, 25c gives you the limited non-exclusive right to access and use the Service only in accordance with these Terms. The Service is available only to individuals who are at least 18 years old, whether acting on their own behalf or as authorized employees or representatives of an entity. If you do not so qualify, do not attempt to register for or use the Service.</p>

<h4>6. USERS’ USE OF SERVICE</h4>

<p>Pledges: Using one or more clicks on the +25c Button, Users may vote in favor of a cause provided by a Provider ("Pledge").  The +25c Button is a patent-pending one-click one-denomination Internet micro-pledge button. It is a button that may be clicked multiple times in sequence, possibly rapidly so, for a corresponding multiple of pledge amount. Each click represents a vote of support to the relevant Provider. To be eligible for Pledges, you must have a valid User Account.</p>

<p>Fees: 25c may charge certain fees as described at www.25c.com/fees.</p>

<p>Transaction Fees: Any fees, foreign exchange or penalties charged by any payment providers or processors in relation to the Deposit amount are the User’s sole responsibility.</p>

<p>Cancellations and Refunds: Users may undo individual pledges up to the point of payment commit.  There is no fee or expense for undoing pledge votes.</p>

<p>Refund Policy: NO REFUNDS AND NO REDEMPTION: THERE ARE NO REFUNDS AND NO REDEMPTIONS EXCEPT AS DETERMINED BY 25C AT ITS SOLE DISCRETION.</p>

<p>User Account Termination: A User cannot voluntarily suspend his User Account. Your User Account and activity will remain viewable: Even after a User Account has been terminated or suspended, any previous 25c activity will be viewable by all Users for historical financial tracking and other purposes. 25c reserves the right to store and share all 25c pledge activity subject to the Privacy Policy.

<P>All pledges are public.  In order to maximally comply with regulatory requirements on money-laundering, all pledges are public at any time -- the ultimate form of absence of concealment.

<h4>7. PROVIDERS’ USE OF SERVICE</h4>

<p>Each Provider acknowledges and agrees that the Buttons are provided by a non-exclusive license, and not sold or transferred, as part of the Service and that he will not use them for any use other than his permitted use of the Service. There is no cost to license Buttons but their use is subject to these Terms and a Provider may only use and display a Button if he has a valid User Account.  Each Button has a unique tracking code. A Provider may (i) duplicate and install it with the same tracking code either throughout his or her website, which may include but is not limited to a website, blog or service, or across his websites, or (ii) use separate Buttons with unique tracking codes for different pages or sections of his website(s). Each Provider agrees that 25c acts as a trustee pursuant to these Terms. Providers provide 25c with information regarding their Designated Account defined as a checking bank account held with a commercially acceptable banking institution.</p>

<p>No Misguiding: The name of a website a Provider chooses to assign to a Button must be consistent with the actual webpage where the Button is displayed and must not be an attempt to mislead users or visitors into thinking the website is a different website or that the Button is associated with a different website. If a Provider installs a Button on his website, he warrants that he or the entity he is legally authorized to represent owns or has been granted the appropriate license to all intellectual property rights relating to his website, including but not limited to the rights relating to the content of the website.</p>

<p>All rights, titles and interests in and to any Button, including but not limited to all intellectual property rights, are the exclusive property of 25c.</p>

<p>Payout: Upon Provider request, provided a Provider has reached a minimum aggregate number of $50 in User Pledges, such minimum amount determined in the sole discretion of 25c, Provider is eligible to receive Proceeds (as defined below) from 25c's Payment Partner subject to Fees.</p>

<p>Tax Obligations: 25c is not responsible for the reporting, collection, calculation or payment of any taxes applicable to 25c Users or Providers whatsoever. Each 25c User and Provider is solely responsible for the collection and payment of any such taxes and for the provision and maintenance of all necessary information and records associated with their 25c User Accounts.</p>

<p>Maintenance of the Designated Account: It is the sole responsibility of the Provider to maintain updated and correct contact information and provide a valid and active Designated Account for receiving disbursements. Failure to do so will relieve 25c of any obligation to disburse the Provider’s 25c Proceeds.</p>

<h4>8. 25C PRIVACY POLICY</h4>

<p>You agree to 25c’s privacy policy (“Privacy Policy”) which is incorporated by reference into these Terms. You agree 25c may update its Privacy Policy from time to time and such modifications will be effective immediately once posted in accordance with the Terms. The Privacy Policy is available athttps://25c.com/privacy.</p>

<h4>9. INDEMNITY</h4>

<p>Each 25c User and Provider indemnifies and holds harmless 25c, its parents, subsidiaries, affiliates, customers, vendors, officers and employees from any liability, damage or cost, including but not limited to all legal fees and costs, and from any claim or demand made by a third party due to or arising out of:</p>

<p>(i) any 25c User’s or Provider’s activities, practices, websites and services of any sort whether performed directly or indirectly;</p>

<p>(ii) any third party’s access to any website or use of any Buttons;</p>

<p>(iii) any violation of the Terms or applicable law by the 25c User or Provider;</p>

<p>(iv) the infringement by the 25c User or Provider of any intellectual property rights or other rights of any person or entity; or</p>

<p>(v) any third party using a 25c User Account or 25c User Name.</p>

<h4>10. WARRANTY DISCLAIMERS</h4>

<p>25c is providing the 25c website and the Service “AS IS” and “AS AVAILABLE” without any express or implied warranties. Each 25c User and Provider acknowledges that 25c has no control over and no duty to take any action regarding: (i) who gains access to the 25c website or the Network or who uses the Service; (ii) what effects the Content may have on any person or entity; (iii) how any person or entity may interpret or use the Content; or (iv) what actions any person or entity may take as a result of having been exposed to the Content. Each 25c User and Provider releases 25c from all liability for any person or entity having acquired or not acquired Content through the 25c website or the Service. The 25c website or Service may contain, or direct any person or entity to websites containing, information that some people may find offensive or inappropriate. 25c makes no representations concerning any content contained in or accessed through the 25c website or the Service and 25c will not be responsible or liable for the accuracy, copyright compliance, legality or decency of material contained in or accessed through the 25c website or the Service.</p>

<p>The Service, the Buttons, the Network, the Content and the 25c website are provided on an “AS IS” basis without warranties of any kind either express or implied, including without limitation implied warranties of merchantability, fitness for a particular purpose or non-infringement. No advice or information, whether oral or written, obtained by a 25c User or Provider from 25c, any of its agents, employees or contractors or through or from the service will create any warranty not expressly stated in these Terms.</p>

<h4>11. LINKS</h4>

<p>The Service may provide, or third parties may provide, links to other Internet websites or resources. Each User and Provider acknowledges and agrees that 25c is not responsible for the availability of such external websites or resources, and does not endorse and is not responsible or liable for any content, advertising, products or other materials on or available from such websites or resources. Each User and Provider further acknowledges and agrees that 25c is not responsible or liable, directly or indirectly, for any damage or loss caused or allegedly caused by or in connection with use of or reliance on any such content, goods or services available on or through any such website or resource.</p>

<h4>12. LIMITATION OF LIABILITY</h4>

<p>IN NO EVENT WILL 25C OR ITS SUPPLIERS BE LIABLE UNDER CONTRACT, TORT, STRICT LIABILITY, NEGLIGENCE OR OTHER LEGAL THEORY (I) WITH RESPECT TO THE WEBSITE, THE SERVICE OR ANY CONTENT FOR ANY LOST PROFITS OR SPECIAL, INDIRECT, INCIDENTAL, PUNITIVE OR CONSEQUENTIAL DAMAGES OF ANY KIND WHATSOEVER, SUBSTITUTE GOODS OR SERVICES (HOWEVER ARISING) OR (II) FOR ANY DIRECT DAMAGES IN EXCESS OF (IN THE AGGREGATE) $100. THIS DOES NOT AFFECT 25C’S LIABILITY FOR DEATH OR PERSONAL INJURY ARISING FROM 25C’S NEGLIGENCE OR 25C’S LIABILITY FOR FRAUDULENT MISREPRESENTATION OR MISREPRESENTATION AS TO A FUNDAMENTAL MATTER OR ANY OTHER LIABILITY WHICH CANNOT BE EXCLUDED OR LIMITED UNDER APPLICABLE LAW.</p>

<h4>13. TERMINATION</h4>

<p>25c may terminate or suspend the whole or any part of the Service and any 25c User Account immediately and without prior notice or liability if the relevant 25c User or Provider breaches any of the Terms. Upon termination of the 25c User Account the relevant 25c User’s or Provider’s right to use the Service will immediately cease. If a 25c User or Provider wishes to terminate his 25c User Account, he may simply discontinue using the Service. All provisions of the Terms which by their nature should survive termination will survive termination, including without limitation ownership provisions, warranty disclaimers, indemnity and limitations of liability.</p>

<h4>14. MISCELLANEOUS</h4>

<p>No agency, partnership, joint venture or employment is created as a result of the Terms and parties do not have any authority of any kind to bind each other in any respect whatsoever. The failure of either party to exercise in any respect any right provided for under the Terms will not be deemed a waiver of any further rights under the Terms. 25c is not liable for any failure to perform its obligations hereunder where such failure results from any cause beyond 25c's reasonable control, including without limitation mechanical, electronic or communications failure or degradation. If any provision of the Terms is found to be unenforceable or invalid, that provision will be limited or eliminated to the minimum extent necessary so that all the remaining provisions of the Terms remain in full force and effect and enforceable.</p>

<p>A User Account and these Terms are personal to the relevant User or Provider. The Terms are not assignable, transferable or sublicensable by a User or Provider except with 25c’s prior written consent. 25c may transfer, assign or delegate the Terms and its rights and obligations without a User’s or Provider’s consent. The singular includes the plural and vice versa and any gender includes any other gender, whenever required by context.</p>

<h4>15. COMPLAINTS PROCEDURE</h4>

<p>If a User or a Provider disputes any Pledge, Proceeds, he must notify 25c in writing within twenty (20) business days of the disputed event occurring otherwise he will be deemed to have waived any claim relating to the disputed event. Any dispute will be determined solely based on records maintained and calculations made by 25c. No other measurements or statistics of any kind will be used in resolving any dispute under these Terms. If a 25c User or Provider is not satisfied with the Service or a matter related to these Terms and he wishes to complain, he agrees to in the first instance contact 25c at hello@25c.com. 25c will investigate the complaint and may ask the complainant, who agrees to fully cooperate with 25c during the course of the investigation, for further information to help the investigation. 25c will try to resolve any complaint within one (1) month of the complaint but this may take longer depending on the complexity of the complaint and the investigation required. Before resorting to any legal proceedings the parties agree to use their best efforts to negotiate in good faith and settle amicably any dispute that may arise out of or relate to these Terms or their breach.</p>

<h4>16. GOVERNING LAW AND DISPUTE RESOLUTION</h4>

<p>The Terms and any dispute or claim arising out of or in connection with them or their subject matter or formation (including non-contractual dispute or claims) will be governed by and construed in accordance with the law of the United States and the state of California. In any action or proceeding to enforce rights under the Terms, the prevailing party will be entitled to recover the costs of the proceedings including but not limited to any reasonable legal fees and costs.  Both parties to the Terms agree that the Terms are the complete and exclusive statement of the mutual understanding of the parties and supersede and cancel all previous written and oral agreements, communications and other understandings relating to the subject matter of the Terms, and that all modifications to the Terms must be in writing signed by both parties, except as otherwise provided in the Terms.</p>

<h4>17. GOVERNING LANGUAGE</h4>

<p>The Terms are drawn up in the English language and may be translated into any language other than English provided that the English text will in any event prevail.</p>

<h4>18. PATENTS AND TRADEMARKS</h4>

<p>25c holds patents on the business process of its Service.  25c and other 25c graphics, logos, designs, page headers, button icons, scripts and service names are registered trademarks, trademarks or trade dress of 25c in the United States of America and/or other countries. 25c’s trademarks and trade dress may not be used, including as part of trademarks or as part of domain names, in connection with any product or service in any manner that is likely to cause confusion or in an attempt to impersonate 25c.</p>

<h4>19. OTHER</h4>

<p>19.1. Entire Agreement</p>

<p>These Terms of Service, any supplemental policies and any documents expressly incorporated by reference herein (including 25c’s Privacy Policy), contain the entire understanding of you and 25c, and supersede all prior understandings of the parties hereto relating to the subject matter hereof, whether electronic, oral or written, or whether established by custom, practice, policy or precedent, between you and Us with respect to the Service.</p>

<p>19.2. No Waiver</p>

<p>The failure of 25c to require or enforce strict performance by you of any provision of these Terms of Service or the 25c Privacy Policy or failure to exercise any right under them shall not be construed as a waiver or relinquishment of 25c's right to assert or rely upon any such provision or right in that or any other instance.</p>

<p>The express waiver by 25c of any provision, condition, or requirement of these Terms of Service or the 25c Privacy Policy shall not constitute a waiver of any future obligation to comply with such provision, condition or requirement.</p>

<p>Except as expressly and specifically set forth in this these Terms of Service, no representations, statements, consents, waivers, or other acts or omissions by 25c shall be deemed a modification of these Terms of Service nor be legally binding, unless documented in physical writing, hand signed by You and a duly appointed officer of 25c.</p>

<p>19.3. Notices</p>

<p>We may notify you via postings on www.25c.com, and via e-mail or any other communications means to contact information you provide to Us.  All notices given by you or required from you under these Terms of Service or the 25c Privacy Policy shall be in writing and addressed to: 25c Inc., Attn: LEGAL DEPARTMENT, 660 York Street, San Francisco, CA 94110.</p>

<p>Any notices that you provide without compliance with this Section on Notices shall have no legal effect.</p>

<p>19.4. Equitable Remedies</p>

<p>You acknowledge that the rights granted and obligations made under these Terms of Service to 25c are of a unique and irreplaceable nature, the loss of which shall irreparably harm 25c and which cannot be replaced by monetary damages alone. Accordingly, 25c shall be entitled to injunctive or other equitable relief (without the obligations of posting any bond or surety or proof of damages) in the event of any breach or anticipatory breach by you.</p>

<p>You irrevocably waive all rights to seek injunctive or other equitable relief, or to enjoin or restrain the operation of the Service or any 25c materials issued in connection therewith, or exploitation of the Service or any content or other material used or displayed through the Service and agree to limit your claims to claims for monetary damages.</p>

<p>19.5. Force Majeure</p>

<p>25c shall not be liable for any delay or failure to perform resulting from causes outside the reasonable control of 25c, including without limitation any failure to perform hereunder due to unforeseen circumstances or cause beyond 25c’s control such as acts of God, war, terrorism, riots, embargoes, acts of civil or military authorities, fire, floods, accidents, network infrastructure failures, strikes, or shortages of transportation facilities, fuel, energy, labor or materials.</p>
