$(document).ready(function(){
  
	// lookup dictionary for image sizes
	var imageSizesDict = {
		'btn-large': ' width="120" height="60"',
		'btn-medium': ' width="80" height="40"',
		'btn-small': ' width="50" height="25"',
		'icon-large': ' width="60" height="60"',
		'icon-medium': ' width="40" height="40"',
		'icon-small': ' width="25" height="25"'
	};

  var jsOpen = '<a href="https://www.plus25c.com/tip/' + buttonId + '" class="tip-25c-button" data-size="';
  var jsClose = '</a>\n<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];\
    if(!d.getElementById(id)){js=d.createElement(s);js.id=id;\
    js.src="//api.plus25c.com/public/javascripts/button.js";fjs.parentNode.insertBefore(js,fjs);}}\
    (document,"script","tip-25c-js");</script>';
  var iframeOpen = '<iframe src="http://api.plus25c.com/button/' + buttonId + '?size=';
	var iframeMid = '" allowtransparency="true" frameborder="0" scrolling="no" marginwidth="0" marginheight="0"';
  var iframeClose = '></iframe>';
  
  var buttonSize = 'btn-large';
  
  var updateButtonCode = function() {
    if ($('input.code-type:checked').val() == 'iframe') {
      newCode = iframeOpen + buttonSize + iframeMid + imageSizesDict[buttonSize] + iframeClose;
    } else {
      // newCode = jsOpen + buttonSize + '">' + $('input#button_title').val() + jsClose;
      newCode = jsOpen + buttonSize + '">' + "Click to micro-donate 25c!" + jsClose;
    }
    $('#button-code-block').text(newCode);
  };

  updateButtonCode();
  
  // when input changes, update code
  $('input.code-type').change(function() {
    updateButtonCode();
    var buttonCode = $('input.code-type:checked').val();
    if (buttonCode == 'javascript' || buttonCode == 'iframe') {
      $.post(setButtonFieldUrl, { field: 'code_type', value: buttonCode });
    }
  });
  
  // update radio buttons by parent div click
  $('.platform-container, .button-choice, .code-option-container').click(function() {
    $this = $(this);
    $this.parent().children('input[type=radio]').removeAttr('checked');
    $this.children('input[type=radio]').attr('checked', 'checked');
    if ($this.hasClass('button-choice')) {
      buttonSize = $this.children('img').attr('data-size');
      $this.parent().find('.selected-button').removeClass('selected-button');
      $this.addClass('selected-button');
      updateButtonCode();
      $.post(setButtonFieldUrl, { field: 'size', value: buttonSize });
    }
  });
  
  $('#button-title').focusout(function(){
    var buttonTitle = $(this).val();
    if (buttonTitle != '') {
      $.post(setButtonFieldUrl, { field: 'title', value: buttonTitle });
    }
  });

  // Tutorial step gradual reveal behavior
  var showNextStep = function() {
    var step = $(this).parents('.step-container').attr('id').substring(4);
    $('#step' + (parseInt(step) + 1)).slideDown('fast');
  };

  $('.platform-container, .button-choice, .code-option-container').click(showNextStep);
  $('#button-title').focusout(showNextStep);
});