$(document).ready(function(){
  
	// lookup dictionary for image sizes
	var imageSizesDict = {
		'btn-large': ' width="120" height="60"',
		'btn-medium': ' width="80" height="40"',
		'btn-small': ' width="50" height="25"',
		'icon-large': ' width="60" height="60"',
		'icon-medium': ' width="40" height="40"',
		'icon-small': ' width="25" height="25"'
	};
	
	var hostname = window.location.hostname;
  if (hostname == 'localhost') hostname += ':3000';

  // Code contents
  var jsOpen = '<a href="' + hostname + '/tip/' + buttonId + '" class="tip-25c-button" data-size="';
  var jsClose = '</a>\n<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];\
    if(!d.getElementById(id)){js=d.createElement(s);js.id=id;\
    js.src="//<%= ENV["API25C_URL"] %>/public/javascripts/button.js";fjs.parentNode.insertBefore(js,fjs);}}\
    (document,"script","tip-25c-js");</script>';
  var iframeOpen = '<iframe src="http://<%= ENV["API25C_URL"] %>/button/' + buttonId + '?size=';
	var iframeMid = '" allowtransparency="true" frameborder="0" scrolling="no" marginwidth="0" marginheight="0"';
  var iframeClose = '></iframe>';
  var linkOpen = '<a href="' + hostname + '/' + userNickname + '">' + "Donate 25c to ";
  var linkClose = '</a>';
  
  // State variables
  var buttonTitle = '';
  var buttonSize = '';
  var codeType = '';
  var newCode = '';
  var step = 0;
  
  // Functions

  // Show following tutorial step
  var showNextStep = function() {
    var newStep = parseInt($(this).parents('.step-container').attr('id').substring(4)) + 1;
    if (newStep > step) {
      step = newStep;
      if (step == 4 || (step == 3 && codeType == 'link')) $('#step4, #step5').slideDown('fast');
      else $('#step' + step).slideDown('fast');
    }
  };
  
  // Toggle showing step 3
  var showStep3 = function(state) {
    if (state) {
      if (step >= 3) {
        $('#step3').show();
        if (!$('input.button-size:checked').length) {
          step = 3;
          $('#step4, #step5').hide();
        }
      }
      $('#step4 > .step-number').text('4');
      $('#step5 > .step-number').text('5');
    } else {
      $('#step3').hide();
      if (step == 3) {
        step = 2;
        $('#set-button-title').click();
      }
      $('#step4 > .step-number').text('3');
      $('#step5 > .step-number').text('4');
    }
  }
  
  // Update button code shown to user
  var updateButtonCode = function() {
    if (codeType == 'javascript' || codeType == 'iframe') {
      $.post(setButtonFieldUrl, { field: 'code_type', value: codeType });
    }
    $('#set-nickname-link').hide();
    if (codeType == 'iframe') {
      newCode = iframeOpen + buttonSize + iframeMid + imageSizesDict[buttonSize] + iframeClose;
      $('.if-javascript').hide();
      $('.if-link').hide();
      showStep3(true);
    } else if (codeType == 'javascript') {
      newCode = jsOpen + buttonSize + '">' + buttonTitle + jsClose;
      $('.if-javascript').show();
      $('.if-link').hide();
      showStep3(true);
    } else if (codeType == 'link') {
      newCode = linkOpen + buttonTitle + linkClose;
      $('#set-nickname-link').show();
      $('.if-javascript').hide();
      $('.if-link').show();
      showStep3(false);
    }
    
    $('#button-code-block').text(newCode);
    $('#button-preview').html(newCode);
    
    if (codeType == 'javascript') {
      $('#button-js').remove();
      $('head').append('<script id="button-js" type="text/javascript" src="//<%= ENV["API25C_URL"] %>/public/javascripts/button.js">');
    }
  };
  
  // Event handlers
  
  // when input changes, update code
  $('input.code-type').change(function() {
    updateButtonCode();
  });
  
  // update radio buttons by parent div click
  $('.platform-container, .button-choice, .code-option-container').click(function() {
    $this = $(this);
    $this.parent().children('input[type=radio]').removeAttr('checked');
    $this.children('input[type=radio]').attr('checked', 'checked');
    if ($this.hasClass('button-choice')) {
      var newButtonSize = $this.children('img').attr('data-size');
      if (buttonSize != newButtonSize) {
        buttonSize = newButtonSize;
        $this.parent().find('.selected-button').removeClass('selected-button');
        $this.addClass('selected-button');
        updateButtonCode();
        $.post(setButtonFieldUrl, { field: 'size', value: buttonSize });
      }
    } else if ($this.hasClass('platform-container')) {
      var platform = $this.attr('data-platform');
      $('.instructions').hide();
      if (platform == 'html') {
        var newCodeType = "javascript";
        $('#html-instructions').show();
      } else if (platform == 'wordpress') {
        var newCodeType = "javascript";
        $('#blog-instructions').show();
      } else if (platform == 'tumblr' || platform == 'posterous') {
        var newCodeType = "iframe";
        $('#blog-instructions').show();
      } else if (platform == 'youtube') {
        var newCodeType = "link";
        $('#youtube-instructions').show();
      }
      if (codeType != newCodeType) {
        codeType = newCodeType;
        updateButtonCode();
      }
    }
    else if ($this.hasClass('code-option-container')) {
      $this.children('input.code-type').change();
    }
  });
  
  // Save button title
  $('#set-button-title').click(function(){
    var newButtonTitle = $('#button-title').val();
    if (buttonTitle != newButtonTitle) {
      buttonTitle = newButtonTitle;
      $.post(setButtonFieldUrl, { field: 'title', value: buttonTitle });
      updateButtonCode();
    }
  });
  
  $('#button-title').focusout(function(){
    $('#set-button-title').click();
  });
  
  // Assign tutorial step reveal behavior
  $('.platform-container, .button-choice, .code-option-container').click(showNextStep);
  $('#set-button-title').click(showNextStep);
  $('#button-title').keypress(function(event) {
    if (event.which == 13) {
      $('#set-button-title').click();
    } else {
      setTimeout(function() {
        $('#button-tooltip-text, #button-link-text').text($('#button-title').val());
      }, 0);
    }
  });

});