$(document).ready(function(){
    
	// lookup dictionary for image sizes
	var imageSizesDict = {
		'btn-large': ' width="80" height="40"',
		'btn-medium': ' width="60" height="30"',
		'btn-small': ' width="40" height="20"',
		'icon-large': ' width="40" height="40"',
		'icon-medium': ' width="30" height="30"',
		'icon-small': ' width="20" height="20"',
		'icon-text': ' width="60" height="20"'
	};
	
	var baseurl = window.location.protocol + '//' + window.location.hostname;
  if (baseurl.indexOf('localhost') != -1) baseurl += ':3000';

  // Code contents
  var jsOpen = '<a href="' + baseurl + '/tip/' + buttonId + '" class="tip-25c-button" data-size="';
  var jsClose = '</a>\n<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];\
    if(!d.getElementById(id)){js=d.createElement(s);js.id=id;\
    js.src="//<%= ENV["API25C_URL"] %>/public/javascripts/button.js";fjs.parentNode.insertBefore(js,fjs);}}\
    (document,"script","tip-25c-js");</script>';
  var iframeOpen = '<iframe src="http://<%= ENV["API25C_URL"] %>/button/' + buttonId + '?size=';
	var iframeMid = '" allowtransparency="true" frameborder="0" scrolling="no" marginwidth="0" marginheight="0"';
  var iframeClose = '></iframe>';
  var linkOpen = '<a target="_blank" href="' + baseurl + '/' + userNickname + '">' + "Pledge 25c ";
  var linkClose = '</a>';
  
  // jQuery objects
  var $iframe = $('#upload-picture');
  
  // State variables
  var has_new_user_picture = false;
  var buttonTitle = '';
  var buttonSize = '';
  var codeType = '';
  var newCode = '';
  var step = 1;
  
  // Show next step in sequence
  var showNextStep = function(limit) {
    if (!limit || step < limit) {
      step++;
      var $nextStep = $('.step-container:hidden[data-skip!="true"]:first');
      $nextStep.first().slideDown('fast');
      $nextStep.children('.step-number').text(step);
      if ($nextStep.attr('id') == 'get-code' || $nextStep.attr('id') == 'share-cause') {
        showNextStep();
      }
    }
  };
  
  // Correct step numbers and hide / show non-relevant steps
  var recomputeSteps = function(state) {
    $('.step-container:visible[data-skip=true]').hide();
    $('.step-container:visible').prevAll('[data-skip!="true"]').show();
    step = 0;
    $('.step-container:visible').each(function() {
      step++;
      $(this).children('.step-number').text(step);
    });
  }
  
  // Update button code shown to user
  var updateButtonCode = function() {
    if (codeType == 'javascript' || codeType == 'iframe') {
      putUpdate(true, { code_type: codeType });
    }
    $('#set-nickname-link').hide();
    if (codeType == 'iframe') {
      newCode = iframeOpen + buttonSize + iframeMid + imageSizesDict[buttonSize] + iframeClose;
      $('.if-javascript').show();
      $('.if-link').hide();
      $('#choose-button').removeAttr('data-skip');
    } else if (codeType == 'javascript') {
      newCode = jsOpen + buttonSize + '">' + buttonTitle + jsClose;
      $('.if-javascript').show();
      $('.if-link').hide();
      $('#choose-button').removeAttr('data-skip');
    } else if (codeType == 'link') {
      newCode = linkOpen + buttonTitle + linkClose;
      $('#set-nickname-link').show();
      $('.if-javascript').hide();
      $('.if-link').show();
      $('#choose-button').attr('data-skip', true);
    }
        
    $('#button-code-block').text(newCode);
    $('#button-preview').html(newCode);
    
    if (codeType == 'javascript') {
      $('#button-js').remove();
      $('head').append('<script id="button-js" type="text/javascript" src="//<%= ENV["API25C_URL"] %>/public/javascripts/button.js">');
    }
  };
  
  // Update button or user with PUT request
  var putUpdate = function(isButton, data, successCallback, errorCallback) {
    var updates = isButton ? { button: data } : { user: data };
    putUrl = isButton ? updateButtonUrl : updateUserUrl;
    $.ajax({
      type: "PUT",
      url: putUrl,
      data: JSON.stringify(updates),
      contentType: 'application/json',
      dataType: 'json',
      success: successCallback,
      error: errorCallback
    });
  }
  
  var profileUrl = function() {
    var new_profile_url = window.location.protocol + '//' + window.location.hostname;
    if (new_profile_url.indexOf('localhost') != -1) new_profile_url += ':3000';
    new_profile_url += '/' + userNickname;
    return new_profile_url;
  }
  
  // Event handlers
  
  // when input changes, update code
  $('input.code-type').change(function() {
    updateButtonCode();
  });
  
  // update radio buttons by parent div click
  $('.platform-container, .button-choice, .code-option-container').click(function() {
    $this = $(this);
    $this.parent().children('input[type=radio]').removeAttr('checked');
    $this.children('input[type=radio]').attr('checked', 'checked');
    if ($this.hasClass('button-choice')) {
      var newButtonSize = $this.find('img').attr('data-size');
      if (buttonSize != newButtonSize) {
        buttonSize = newButtonSize;
        $this.parent().find('.selected-option').removeClass('selected-option');
        $this.addClass('selected-option');
        updateButtonCode();
        putUpdate(true, { 'size': buttonSize });
      }
      showNextStep(5);
    } else if ($this.hasClass('platform-container')) {
      $this.parent().find('.selected-option').removeClass('selected-option');
      $this.addClass('selected-option');
      var platform = $this.attr('data-platform');
      $('.instructions').hide();
      if (platform == 'html') {
        var newCodeType = "javascript";
        $('.html-instructions').show();
      } else if (platform == 'wordpress') {
        var newCodeType = "javascript";
        $('.blog-instructions').show();
      } else if (platform == 'tumblr' || platform == 'posterous') {
        var newCodeType = "iframe";
        $('.blog-instructions').show();
      } else if (platform == 'youtube') {
        var newCodeType = "link";
        $('.youtube-instructions').show();
      }
      if (platform == 'none') {
        $('#get-code, #choose-button').attr('data-skip', true);
        $('#enhance-profile').removeAttr('data-skip');
        $('.if-button').hide();
        recomputeSteps();
        showNextStep(5);
      } else {
        $('#get-code').removeAttr('data-skip');
        $('#enhance-profile').attr('data-skip', true);
        $('.if-button').show();
        if (codeType != newCodeType) {
          codeType = newCodeType;
          updateButtonCode();
        }
        recomputeSteps();
        showNextStep(4);
      }
    } else if ($this.hasClass('code-option-container')) {
      $this.children('input.code-type').change();
    }
  });
  
  // Save button info
  $('#set-button-info').click(function(){
    buttonTitle = $('#button-title').val();
    var buttonDescription = $('#button-description').val();
    $('#button-tooltip-text, #button-link-text').text(buttonTitle);
    putUpdate(true, { title: buttonTitle, description: buttonDescription });
    updateButtonCode();
    showNextStep(2);
  });
  
  $('#button-description').focusout(function(){
    $('#set-button-info').click();
  });
  
  // Upload user picture
  $('#upload-picture-button').click();
  
  // Save user info
  $('#set-user-info').click(function() {
    var userAbout = $('#user-about').val();
    if (userNickname) {
      putUpdate(false, { about: userAbout });
      showNextStep(3);
    } else {
      if ($('#user-nickname').val()) {
        userNickname = $('#user-nickname').val();
        putUpdate(false, { nickname: userNickname, about: userAbout }, function(response) {
          $('#profile-link > a').attr('href', profileUrl()).text(profileUrl());
          $('#user-nickname').parent().add($('#user-nickname').parent().prev()).hide();
          $('#profile-link > a').attr('href', profileUrl()).text(profileUrl());
          showNextStep(3);
        }, function() {
          alert(nicknameTaken);
          userNickname = '';
        });
      } else {
        alert(nicknameBlank);
      }
    }
  });
  
  $('#user-about').focusout(function() {
    $('#set-user-info').click();
  });

  // Handle picture upload functionality
  $iframe.load(function() {
    var $user_form = $iframe.contents().find('form#user-form');
    var $user_input = $user_form.find('#user_picture');
    if (has_new_user_picture) {
      newUserPictureUrl = $(this).contents().find('#picture-urls').attr('data_user_url');            
      $('#user-picture-link').attr('href', newUserPictureUrl).show();
      $('#user-picture-uploading').hide();
    }
    $('#upload-user-picture').unbind('click').click(function() {
      $user_input.click();
      $user_input.change(function() {
        $user_form.submit();
        has_new_user_picture = true;
        $('#user-picture-link').hide();
        $('#user-picture-uploading').show();
      });
    });
  });
  
  $('#fb-share').click(function() {
    var fbShareHref = "https://www.facebook.com/dialog/feed?display=popup"
		  + "&app_id=<%= FACEBOOK_SETTINGS['app_id'] %>"
		  + "&link=" + profileUrl()
      + "&picture=" + "http://assets.25c.com.s3.amazonaws.com/logos/25c-logo-medium.png"
		  + "&name=" + fbShareTitle
      + "&caption=" + " "
		  + "&description=" + fbShareDescription
		  + "&redirect_uri=" + fbShareCallbackUrl;
    openPopup(fbShareHref, "Share on Facebook");
	});

  $('#tw-share').click(function() {
    var $this = $(this);
		var twShareHref = "https://twitter.com/share?url=" + encodeURIComponent(profileUrl());
		openPopup(twShareHref, "Share on Twitter");
  });
  
  $('#email-share').click(function() {
    var email_string = 'mailto:?body=' + encodeURIComponent(profileUrl() + '\n\n' + shareEmailBody)
      + '&subject=' + encodeURIComponent(shareEmailSubject);
    $(this).attr('href', email_string);
  });
  
  $('#profile-link > a').attr('href', profileUrl()).text(profileUrl());

});




