$(document).ready(function(){
  
	// lookup dictionary for image sizes
	var imageSizesDict = {
		'btn-large': ' width="120" height="60"',
		'btn-medium': ' width="80" height="40"',
		'btn-small': ' width="50" height="25"',
		'icon-large': ' width="60" height="60"',
		'icon-medium': ' width="40" height="40"',
		'icon-small': ' width="25" height="25"'
	};

  // Code contents
  var jsOpen = '<a href="https://www.plus25c.com/tip/' + buttonId + '" class="tip-25c-button" data-size="';
  var jsClose = '</a>\n<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];\
    if(!d.getElementById(id)){js=d.createElement(s);js.id=id;\
    js.src="//api.plus25c.com/public/javascripts/button.js";fjs.parentNode.insertBefore(js,fjs);}}\
    (document,"script","tip-25c-js");</script>';
  var iframeOpen = '<iframe src="http://api.plus25c.com/button/' + buttonId + '?size=';
	var iframeMid = '" allowtransparency="true" frameborder="0" scrolling="no" marginwidth="0" marginheight="0"';
  var iframeClose = '></iframe>';
  
  // State variables
  var buttonSize = 'btn-large';
  var codeType = 'javascript';
  var newCode = '';
  
  // jQuery variables
  var $javascript = $('input.code-type[value=javascript]');
  var $iframe = $('input.code-type[value=iframe]');
  var $link = $('input.code-type[value=link]');
  
  // Functions

  // Show following tutorial step
  var showNextStep = function() {
    step = $(this).parents('.step-container').attr('id').substring(4);
    if (step == 3) $('#step4, #step5').slideDown('fast');
    else $('#step' + (parseInt(step) + 1)).slideDown('fast');
  };
  
  // Update button code shown to user
  var updateButtonCode = function() {
    var newCodeType = $('input.code-type:checked').val();
    if (codeType != newCodeType) {
      codeType = newCodeType;
      if (codeType == 'javascript' || codeType == 'iframe') {
        $.post(setButtonFieldUrl, { field: 'code_type', value: codeType });
      }
    }
    $('#set-nickname-link').hide();
    if (codeType == 'iframe') {
      newCode = iframeOpen + buttonSize + iframeMid + imageSizesDict[buttonSize] + iframeClose;
    } else if (codeType == 'javascript') {
      // newCode = jsOpen + buttonSize + '">' + $('input#button_title').val() + jsClose;
      newCode = jsOpen + buttonSize + '">' + "Click to micro-donate 25c!" + jsClose;
    } else if (codeType == 'link') {
      var hostname = window.location.hostname;
      if (hostname == 'localhost') hostname += ':3000';
      newCode = hostname + '/' + userNickname;
      $('#set-nickname-link').show();
    }
    $('#button-code-block').text(newCode);
  };
  
  // Show valid code types (js, iframe, link) based on selection
  var selectCodeTypes = function(javascript, iframe) {
    $('input.code-type').removeAttr('checked');
    if (javascript) {
      $javascript.add($iframe).removeAttr('disabled').parent().removeClass('disabled');
      $javascript.attr('checked', 'checked');
    } else {
      $javascript.attr('disabled', 'disabled').parent().addClass('disabled');
      if (iframe) {
        $iframe.removeAttr('disabled').parent().removeClass('disabled');
        $iframe.attr('checked', 'checked');
      } else {
        $iframe.attr('disabled', 'disabled').parent().addClass('disabled');
        $link.attr('checked', 'checked');
      }
    }
    updateButtonCode();
  };
  
  // Event handlers
  
  // when input changes, update code
  $('input.code-type').change(function() {
    updateButtonCode();
  });
  
  // update radio buttons by parent div click
  $('.platform-container, .button-choice, .code-option-container').click(function() {
    $this = $(this);
    $this.parent().children('input[type=radio]').removeAttr('checked');
    $this.children('input[type=radio]').attr('checked', 'checked');
    if ($this.hasClass('button-choice')) {
      buttonSize = $this.children('img').attr('data-size');
      $this.parent().find('.selected-button').removeClass('selected-button');
      $this.addClass('selected-button');
      updateButtonCode();
      $.post(setButtonFieldUrl, { field: 'size', value: buttonSize });
    }
    else if ($this.hasClass('platform-container')) {
      var platform = $this.attr('data-platform');
      $('.instructions').hide();
      if (platform == 'html') {
        selectCodeTypes(true, true);
        $('#html-instructions').show();
      } else if (platform == 'wordpress') {
        selectCodeTypes(true, true);
        $('#blog-instructions').show();
      } else if (platform == 'tumblr' || platform == 'posterous') {
        selectCodeTypes(false, true);
        $('#blog-instructions').show();
      } else if (platform == 'youtube') {
        selectCodeTypes(false, false);
        $('#youtube-instructions').show();
      }
    }
    else if ($this.hasClass('code-option-container')) {
      $this.children('input.code-type').change();
    }
  });
  
  // Save button title
  $('#set-button-title').click(function(){
    var buttonTitle = $('#button-title').val();
    if (buttonTitle != '') {
      $.post(setButtonFieldUrl, { field: 'title', value: buttonTitle });
    }
  });
  
  // Assign tutorial step reveal behavior
  $('.platform-container, .button-choice, .code-option-container').click(showNextStep);
  $('#set-button-title').click(showNextStep);
  $('#button-title').keypress(function(event) {
    if (event.which == 13) {
      $('#set-button-title').click();
    }
  });
  
  // Initialization

  updateButtonCode();
});