$(document).ready(function(){

  $('.share-checkbox').click(function() {
    var $this = $(this);
    if ($this.attr('checked')) {
      $this.parent().removeClass('disabled');
    } else {
      $this.parent().addClass('disabled');
    }
  });
  
  $('.share-amount, .share-email').focus(function() {
    var $container = $(this).parents('.share-container');
    $container.removeClass('disabled');
    $container.children('.share-checkbox').attr('checked', 'checked');
  });
  
  $('.share-email').focus(function() {
    var $this = $(this);
    if ($this.val() == emailDefaultText) $this.val('');
  }).focusout(function() {
    var $this = $(this);
    if ($this.val() == '') $this.val(emailDefaultText);
  });
    
  $('.add-invite').click(function() {
    $container = $(this).parent();
    $container.find('.share-container:hidden:first').show();
    if (!$container.find('.share-container:hidden').length) $(this).hide();
  });  
  
  var beltCodeTemplate = '<a class="tip-25c-belt" target="_blank" data-id="%s" data-size="%s" data-user="%s">%s</a><script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//<%= ENV["API25C_URL"] %>/public/javascripts/belt.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","tip-25c-belt-js");</script>';
  var feedCodeTemplate = '<a class="tip-25c-feed" target="_blank" data-id="%s" data-size="%s" data-user="%s">%s</a><script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//<%= ENV["API25C_URL"] %>/public/javascripts/feed.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","tip-25c-feed-js");</script>';
  
  var buttonSize = 'btn-large';
  
  var linkText = (!buttonTitle || /^\s*$/.test(buttonTitle)) ? "&nbsp;" : buttonTitle;
  beltCode = sprintf(beltCodeTemplate, buttonId, buttonSize, userPledgeName, linkText);
  feedCode = sprintf(feedCodeTemplate, buttonId, buttonSize, userPledgeName, linkText);
  
  $('#fan_belt .button-code-block').text(beltCode);
  $('#fan_belt .button-preview').html(beltCode);
  
  $('#testimonials .button-code-block').text(feedCode);
  $('#testimonials .button-preview').html(feedCode);
  
});