$(document).ready(function(){

  $('.share-checkbox').click(function() {
    var $this = $(this);
    if ($this.attr('checked')) {
      $this.parent().removeClass('disabled');
    } else {
      $this.parent().addClass('disabled');
    }
  });
  
  $('.share-amount, .share-email').focus(function() {
    var $container = $(this).parents('.share-container');
    $container.removeClass('disabled');
    $container.children('.share-checkbox').attr('checked', 'checked');
  });
  
  $('.share-email').focus(function() {
    var $this = $(this);
    if ($this.val() == emailDefaultText) $this.val('');
  }).focusout(function() {
    var $this = $(this);
    if ($this.val() == '') $this.val(emailDefaultText);
  });
    
  $('.add-invite').click(function() {
    $container = $(this).parent();
    $container.find('.share-container:hidden:first').show();
    if (!$container.find('.share-container:hidden').length) $(this).hide();
  });  
  
  var feedCodeTemplate = '<div class="tip-25c-feed" data-id="%s" data-url="%s"%s></div><script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//<%= ENV["API25C_URL"] %>/public/javascripts/widget.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","tip-25c-widget-js");</script>';
  
  function updatePreview() {
    url = $.trim($('input#permalink_url').val());
    if (url == "") {
      $('input#permalink_url').closest('.control-group').addClass('error');
      $('.button-code-block').text('');
      $('.button-code-block').hide();
      $('.button-preview').html('');
      $('.preview').hide();
      $('.button-code-error').show();
    } else {
      $('input#permalink_url').closest('.control-group').removeClass('error');
      $('#tip-25c-widget-js').remove();
      $('.button-code-error').hide();
      width = parseInt($.trim($('input#width').val()));
      if (isNaN(width)) {
        width = 600;
      }
      width = ' width="' + width + '"';
      feedCode = sprintf(feedCodeTemplate, buttonId, url, width);
      $('.button-code-block').text(feedCode);
      $('.button-code-block').show();
      $('.button-preview').html(feedCode);
      $('.preview').show();
    }
  }
  
  updatePreview();
  
  $('input#permalink_url').on('keyup', updatePreview);
  $('input#width').on('keyup', updatePreview);
});
