/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
*/

$gridColumns: 16;
$gridColumnWidth: 45px;
$sansFontFamily: "Proxima Nova", 'Helvetica Neue', Helvetica, Arial, sans-serif;
$serifFontFamily: "Adobe Garamond", Garamond, Georgia, 'Times New Roman', Times, serif;

@import 'bootstrap';

$gray-border: #d2cfcf;
$gray-light: #eff5f7;
$slate-light: #d0dfe3;
$teal: #177793;

@import 'layout';
@import 'header';
@import 'footer';
