/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap
 *= require_self
*/

body {
	padding-top: 60px;
	background-color: #f6f6f6;
}

img {
	padding: 0px;
	margin: 0px;
}

.sidebar-nav {
	padding: 9px 0;
}

.errors {
  color: red;
}

.clear {
  clear: both;
}

hr {
  color: #e6e6e6;
  background-color: #e6e6e6;
  border-color: #e6e6e6;
}

.page-header {
  border-bottom: 2px solid transparent;
}

.center {
  text-align: center;
}

/* Header Nav
 *---------------------------- */
.navbar .navbar-inner {
  padding: 6px 0 6px 0;
  height: 30px;
  background-image: none;
  background-color: white;
}
.navbar #nav-tagline {
  color: #999;
}
.navbar .nav > li > a {
  color: #555;
  text-shadow: none;
  border-radius: 5px;
}
.navbar .nav > li > a:hover {
  color: #555;
  background-color: #eee;
}
#nav-logo {
  margin-top: -2px;
  margin-right: 10px;
}
#nav-tagline {
  color: #e3e3e3;
}

.nav li.dropdown.open .caret,
.nav li.dropdown.open.active .caret,
.nav li.dropdown.open a:hover .caret {
  border-top-color: black;
  border-bottom-color: black;
}

.navbar .nav li.dropdown .dropdown-toggle .caret,
.navbar .nav li.dropdown.open .caret {
  margin-top: 8px;
  border-top-color: black;
  border-bottom-color: black;
}

.navbar .nav li.dropdown .dropdown-toogle {
  background-color: #ddd;
}

.navbar .nav > li.dropdown > a {
    padding: 6px 10px 5px;
    margin: 2px 5px 5px;
}

.thumb-image {
  border-radius: 2px;
  margin: -1px 4px 0 0;
  max-width: 25px;
  max-height: 25px;
}

/* Footer
 *---------------------------- */
footer.navbar {
  margin: 100px 0 0 0;
}

footer.navbar > .navbar-inner {
  background-color: white;
  box-shadow: none;
  border-top: 1px solid #eee;
}

footer.navbar > .navbar-inner > .container {
  width: 960px;
}

/* Landing Page
 *---------------------------- */
#landing-image {
  margin-top: 20px;
}

#splash-title {
  margin-bottom: 20px;
}

.splash {
}

.splash, .sub-splash {
  padding: 38px;
  margin: 20px 0px;
  background-color: #eee;
  border-radius: 10px;
  border: 1px solid #ddd;
}

.splash .fb-login-button {
  position: relative;
  top: 2px;
  display: inline;
}
.splash > p > a.btn {
  font-weight: 400;
}

.splash .or-block {
  position: relative;
  top: 2px;
}


.circle{
  height: 20px; 
  width: 20px; 
  cursor: pointer;
  background-image: url(image_path("circle.png"));
}

.selected-circle{ 
  cursor: auto;
  background-position: 0px 20px;
}

.sub-splash {
  margin-bottom: 30px;
  padding: 20px 40px;
}

.sub-splash {
  
}

/* Facebook Login
 *---------------------------- */
.nav .fb-login-button {
  margin-top: 8px;
  margin-right: 5px;
}
.inline-block {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/* Nav Register Button
 *---------------------------- */
.navbar .nav > li > a.btn {
  color: #333;
  text-shadow: none;
  line-height: 18px;
  margin: 5px 5px 6px;
  padding: 4px 10px;
}
.navbar .nav > li > a.btn:hover {
  color: #333;
  background-color: #e3e3e3;
}


/* Buttons Home Page
 *---------------------------- */
#new-user-welcome {
  padding: 20px;
  margin-top: 10px;
  background-color: white;
  border-radius: 10px;
  border: 1px solid #ccc;
}

#welcome-message {
  margin-bottom: 40px;
}

/* Button Creation Page
 *---------------------------- */
#button-choice-container {
  height: 120px;
} 

.button-choice {
  float: left;
  height: 60px;
  width: 126px;
  line-height: 60px;
  margin: 5px 0;
  text-align: center;
}

.button-choice img {
  padding: 5px;
}

.button-choice:hover img {
  border-radius: 10px;
  border-color: #ffbda0;
  background-color: #ffeae1;
}

.selected-button {
  border-radius: 10px;
  background-color: #ffeae1;
}

#button-preview {
  height: 60px;
  margin: 10px 0 35px 0;
}

.button-choice img, #button-preview img {
  vertical-align: middle;
  cursor: pointer;
}

#code-wrapper {
  position: relative;
}

#button-code-block {
  background-color: white;
  white-space: normal;
  margin: 5px 0;
  overflow: hidden;
  resize: none;
  width: 97%;
  cursor: text;
}

#code-wrapper #code-overlay {
  color: white;
  display: none;
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 10;
}

#code-wrapper:hover #code-overlay {
  display: block;
}

#code-wrapper:hover #button-code-block {
  background-color: #666;
  cursor: pointer;
}

#code-wrapper a:hover {
  text-decoration: none;
}

#save-button-message {
  padding-left: 5px;
}

#tip-25c-tooltip {
  position:absolute; 
  z-index:1000000000; 
  left:0; 
  top:0; 
  width:200px; 
  min-height:50px; 
  background:white; 
  border: 1px solid #ddd; 
  box-shadow: 2px 2px 4px #333; 
  border-radius: 4px; 
  visibility:hidden;
}

#tip-25c-tooltip p {
  margin: 10px;
  font-size: inherit;
  line-height: inherit;
}

/* Account Page Elements
 *---------------------------- */
#existing-card {
 margin: 10px 0; 
}

#toggle-card-container {
  margin-bottom: 20px;
}

#refill-title {
  margin-bottom: 10px;
}

/* Account Credit Card Form
 *---------------------------- */
form#transaction-form input[type=text], form#transaction-form input[type=submit] {
  display: block;
  margin-right: 10px;
}

form#transaction-form #card-number {
  width: 130px;
}

form#transaction-form #card-CVV {
  width: 60px;
}

form#transaction-form #card-expiration-month{
  width: 140px;
}

form#transaction-form #card-expiration-year{
  margin-left: 6px;
  width: 70px;
}

.checkbox-container{
  margin-bottom: 10px;
}

input[type="checkbox"].checkbox{
  margin-bottom: 8px;
}

/* Payout
 *---------------------------- */
.info-title {
  margin: 10px 0 20px 0;
}

form .submit-container {
  text-align: center;
}

.payout-request-title {
  margin: 30px 0 20px 0;
}

/* Tip Login
 *---------------------------- */
#tip-center{
  width: 600px;
  margin: 0 auto;
  text-align: center;
}
 
img#tip-25c-logo{
  margin-bottom: 10px;
}

#tip-25c-tagline{
  margin-bottom: 40px;
}

#sign-in-or{
  margin: 10px 0;
}

#sign-in{
  width: 400px;
  min-height: 320px;
  margin: 0 auto 20px auto;
  text-align: center;
}

#sign-in .form-horizontal .control-label {
  width: 130px;
}

#sign-in .form-horizontal .controls {
  margin-left: 120px;
}

#sign-in .form-horizontal .form-actions {
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
}

#sign-in input.btn[type="submit"] {
  width: 200px;
}

#sign-in input[type="radio"] {
  margin: 0 5px 0 10px;
}

#sign-in-choose-account {
  margin-bottom: 20px;
}

#tip-thanks {
  margin-bottom: 20px;
}

/* FORM OVERRIDES
 *---------------------------- */
form .form-actions {
  border-top: 0px none transparent;
} 

.simple_form .control-label {
  font-weight: bold;
}

.simple_form .control-group {
  margin-bottom: 20px;
}

/* User Dashboard
 *---------------------------- */
.clicks-table > tbody > tr > td {
  line-height: 28px;
}

.table-title {
  margin: 10px 0;
}

/* BOOTSTRAP OVERRIDES
*---------------------------- */

[class^="icon-"], [class*=" icon-"] {
  background-image: url(image_path("glyphicons-halflings.png"));
}

/* USER PROFILE
*---------------------------- */

#edit-url{
  margin-left: 20px;
}

#profile-container {
  margin-top: 40px;
}

#user-profile {
  padding: 20px;
  border: 2px solid #ddd;
  background-color: white;
  border-radius: 10px;
}

#user-profile .user-image {
  width: 260px;
}

#user-profile .block {
  position: relative;
}

#user-profile:hover input {
  display: block;
}

#user-profile #image-block {
  display: none;
}

#user-profile .user-image {
  margin-bottom: 10px;
}

#user-profile input, #user-profile textarea {
  box-shadow: none;
  background-color: transparent;
  border: 1px solid transparent;
  resize: none;
  width: 245px;
}

#user-profile #last_name_input, #user-profile #first_name_input {
  float: left;
  width: 112px;
}

#user-profile #first_name_input {
  margin-right: 11px;
}

#user-profile textarea {
}

#user-profile:hover #upload-button {
  display: block;
}

#user-profile:hover input, #user-profile:hover textarea.editing, #user-profile input.focused, 
#user-profile textarea.focused {
  display: block;
  background-color: #f2f2f2;
  border: 1px solid #ccc;
}

#about-block {
  min-height: 60px;
}

#user-profile #upload-button {
  display: none;
  position: absolute;
  top: 5px;
  left: 5px;
}

#profile-submit {
  margin: 0;
  text-align: center;
}

#image-block .input-block {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}

#name-block .emphasis {
  font-weight: bold;
  font-size: 20px;
}
#name-block .content-block {
  padding: 5px;
  color: #555;
}

#user-profile:hover #name-block .content-block.editing {
  display:none;
}

#user-profile #name-block .input-block {
  display:none;
}

#user-profile:hover #name-block .input-block {
  display: block;
}

#button-holder {
  margin: 40px 0 0 200px;
}
