/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap
 *= require_self
*/

body {
	padding-top: 60px;
	background-color: #f6f6f6;
}

img {
	padding: 0px;
	margin: 0px;
}

.sidebar-nav {
	padding: 9px 0;
}

.errors {
  color: red;
}

.clear {
  clear: both;
}

hr {
  color: #e6e6e6;
  background-color: #e6e6e6;
  border-color: #e6e6e6;
}

.page-header {
  border-bottom: 2px solid transparent;
}

.compact-header {
  margin-bottom: 0;
  padding-bottom: 0;
}

.compact-lead {
  margin-bottom: 5px;
}

.center {
  text-align: center !important;
}

.relative {
  position: relative;
}

.pointer {
  cursor: pointer;
}

.buffer {
  margin-bottom: 20px;
}

/* Header Nav
 *---------------------------- */
.navbar .navbar-inner {
  padding: 6px 0 6px 0;
  height: 30px;
  background-image: none;
  background-color: white;
}
.navbar #nav-tagline {
  color: #999;
}
.navbar .nav > li > a {
  color: #555;
  text-shadow: none;
  border-radius: 5px;
}
.navbar .nav > li > a:hover {
  color: #555;
  background-color: #eee;
}
.navbar .nav > li.navbar-text {
  margin: 0 5px;
}
#nav-logo {
  margin-top: -2px;
  margin-right: 10px;
}
#nav-tagline {
  color: #e3e3e3;
}

.nav li.dropdown.open .caret,
.nav li.dropdown.open.active .caret,
.nav li.dropdown.open a:hover .caret {
  border-top-color: black;
  border-bottom-color: black;
}

.navbar .nav li.dropdown .dropdown-toggle .caret,
.navbar .nav li.dropdown.open .caret {
  margin-top: 8px;
  border-top-color: black;
  border-bottom-color: black;
}

.navbar .nav li.dropdown .dropdown-toogle {
  background-color: #ddd;
}

.navbar .nav > li.dropdown > a {
    padding: 6px 10px 5px;
    margin: 2px 5px 5px;
}

.thumb-image {
  border-radius: 2px;
  margin: -1px 4px 0 0;
  max-width: 25px;
  max-height: 25px;
}

/* Footer
 *---------------------------- */
footer.navbar {
  margin: 100px 0 0 0;
}

footer.navbar > .navbar-inner {
  background-color: white;
  box-shadow: none;
  border-top: 1px solid #eee;
}

footer.navbar > .navbar-inner > .container {
  width: 960px;
}

/* Landing Page
 *---------------------------- */
#landing-image {
  margin-top: 20px;
}

.splash #splash-title {
  margin-bottom: 20px;
}

.splash #splash-buttons {
  margin-top: 60px;
}

.splash #splash-left {
  position: relative;
  min-height: 270px;
}

.splash, .sub-splash {
  padding: 38px;
  margin: 20px 0px;
  background-color: #eee;
  border-radius: 10px;
  border: 1px solid #ddd;
}

.splash .fb-login-button {
  position: relative;
  top: 2px;
  display: inline;
}
.splash > p > a.btn {
  font-weight: 400;
}

.splash .or-block {
  position: relative;
  top: 2px;
}

#action-button {
  width: 250px; 
  font-size: 20px;
}

.circle{
  height: 20px; 
  width: 20px; 
  cursor: pointer;
  background-image: url(image_path("circle.png"));
}

.selected-circle{ 
  cursor: auto;
  background-position: 0px 20px;
}

.sub-splash {
  margin-bottom: 30px;
  padding: 20px 40px;
}

/* Login Buttons
 *---------------------------- */
 
@mixin gradient($from, $to) {
  background-color: $to;
  background-image: -moz-linear-gradient(center top, $from, $to);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from($from), to($to));
  background-image: -webkit-linear-gradient($from, $to);
  background-image: -o-linear-gradient($from, $to);
}

#splash-buttons.login-buttons .btn, #sign-in .login-buttons .btn{
  margin-bottom: 5px;
  width: 125px;
}

ul.login-buttons > li.login-logo > a {
  cursor: pointer;
  padding: 4px;
}

ul.login-buttons > li.login-logo > a > img {
  height: 32px;
  width: 32px;
}

.login-buttons > a {
  margin: 0 5px;
}

/* Facebook Login
 *---------------------------- */
.nav .fb-login-button {
  margin-top: 8px;
  margin-right: 5px;
}
.inline-block {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/* Nav Register Button
 *---------------------------- */
.navbar .nav > li > a.btn {
  color: #333;
  text-shadow: none;
  line-height: 18px;
  margin: 5px 5px 6px;
  padding: 4px 10px;
}
.navbar .nav > li > a.btn:hover {
  color: #333;
  background-color: #e3e3e3;
}


/* Buttons Home Page
 *---------------------------- */
#new-user-welcome {
  padding: 20px;
  margin-top: 10px;
  background-color: white;
  border-radius: 10px;
  border: 1px solid #ccc;
}

#welcome-message {
  margin-bottom: 40px;
}

/* Button Platform Page
*---------------------------- */

#platform-table-title {
  margin-top: 40px;
}

table#platform-table {
  margin-bottom: 20px;
}

table#platform-table > thead > tr > th.platform-logo {
  width: 20%;
}


table#platform-table > thead > tr > th.platform-name {
  width: 20%;
}

table#platform-table .platform-code {
  width: 10%;
  text-align: center;
}

table#platform-table > tbody > tr > td.platform-code,
table#platform-table > tbody > tr > td.platform-name,
table#platform-table > tbody > tr > td.platform-note, {
  padding: 15px 0;
}

table#platform-table > tbody > tr > td > img.platform-logo-img {
  height: 32px;
}


/* Button on the About page
 *---------------------------- */
#about-button-container {
  margin-left: auto;
  margin-right: auto;
  height: 140px;
  width: 120px;
} 


/* Button Creation Page
 *---------------------------- */
#button-choice-container {
  height: 120px;
} 

.button-choice {
  border: 1px solid red;
  position: relative;
  float: left;
  margin: 10px; 
  height: 60px;
  width: 120px;
  line-height: 60px;
  text-align: center;
}

.button-choice img {
  position: absolute;
  top: 50%;
  left: 50%;
}

.button-choice img[data-size="btn-large"] {
  margin-left: -60px;
  margin-top: -10px;
}

.button-choice img[data-size="icon-large"] {
  margin-left: -30px;
  margin-top: -10px;
}

.button-choice img[data-size="btn-medium"] {
  margin-left: -40px;
}

.button-choice img[data-size="icon-medium"] {
  margin-left: -20px;
}

.button-choice img[data-size="btn-small"] {
  margin-left: -25px;
  margin-top: 8px;
}

.button-choice img[data-size="icon-small"] {
  margin-left: -12px;
  margin-top: 8px;
}

.button-choice:hover img {
  border-radius: 10px;
  border-color: #ffbda0;
  background-color: #ffeae1;
}

.selected-button {
  border-radius: 10px;
  background-color: #ffeae1;
}

#button-preview {
  height: 60px;
  margin: 10px 0 35px 0;
}

.button-choice img, #button-preview img {
  vertical-align: middle;
  cursor: pointer;
}

#code-wrapper {
  position: relative;
}

pre#button-code-block {
  background-color: white;
  white-space: normal;
  margin: 5px 0 0 0;
  overflow: hidden;
  resize: none;
  cursor: text;
}

#code-wrapper #code-overlay {
  color: white;
  display: none;
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 10;
}

#code-wrapper:hover #code-overlay {
  display: block;
}

#code-wrapper:hover #button-code-block {
  background-color: #666;
  cursor: pointer;
}

#code-wrapper a:hover {
  text-decoration: none;
}

#save-button-message {
  padding-left: 5px;
}

#tip-25c-tooltip {
  margin: 1px 0 0;
  position:absolute; 
  z-index:1000000000; 
  left:0; 
  top:0; 
  width:180px; 
  padding: 15px;
  min-height:50px; 
  background-color: rgb(255, 255, 255); 
  border: 1px solid rgba(0, 0, 0, 0.2); 
  border-radius: 5px 5px 5px 5px; 
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2); 
  background-clip: padding-box; 
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif; 
  font-size: 13px; 
  line-height: 18px;
  visibility:hidden;
}

/* URL Shortener Form
 *---------------------------- */
#short-url-input {
  margin-top: 10px;
  width: 420px;
}

#short-url-input.preview {
  color: #999;
}

#url-output-container {
  margin-top: 5px;
}

#url-output-label {
  float: left;
  margin: 5px 0 0 0;
  width: 140px;
}

#url-output {
  float: left;
  background-color: #FFFFFF;
  border: 1px solid #CCCCCC;
  border-radius: 3px 3px 3px 3px;
  color: #555555;
  padding: 4px;
  width: 280px;
  cursor: text;
}

#url-output.disabled {
  color: #999;
  background-color: #e6e6e6;
  cursor: auto;
}

#share-url-container{
  margin-top: 10px;
}

#share-url-container > #share-url-label{
  float: left;
  margin: 5px 0 0 0;
  width: 140px;
}

#share-url-container > .share-img {
  float: left;
}

/* Account Page Elements
 *---------------------------- */
#existing-card {
 margin: 10px 0; 
}

#toggle-card-container {
  margin-bottom: 20px;
}

#refill-title {
  margin-bottom: 10px;
}

/* Account Credit Card Form
 *---------------------------- */
form#transaction-form input[type=text], form#transaction-form input[type=submit] {
  display: block;
  margin-right: 10px;
}

form#transaction-form #card-number {
  width: 130px;
}

form#transaction-form #card-CVV {
  width: 60px;
}

form#transaction-form #card-expiration-month{
  width: 140px;
}

form#transaction-form #card-expiration-year{
  margin-left: 6px;
  width: 70px;
}

.checkbox-container{
  margin-bottom: 10px;
}

input[type="checkbox"].checkbox{
  margin-bottom: 8px;
}

/* Payout
 *---------------------------- */
.info-title {
  margin: 10px 0 20px 0;
}

form .submit-container {
  margin-top: 20px;
  text-align: center;
}

.payout-request-title {
  margin: 30px 0 20px 0;
}

/* Tip Login
 *---------------------------- */
#tip-center{
  width: 600px;
  margin: 0 auto;
  text-align: center;
}
 
img#tip-25c-logo{
  margin-bottom: 10px;
}

#tip-25c-tagline{
  margin-bottom: 40px;
}

#sign-in-or{
  margin: 10px 0;
}

#sign-in{
  width: 400px;
  min-height: 200px;
  margin: 0 auto 20px auto;
  text-align: center;
}

#sign-in .form-horizontal .control-label {
  width: 130px;
}

#sign-in .form-horizontal .controls {
  margin-left: 120px;
}

#sign-in .form-horizontal .form-actions {
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
}

#sign-in input.btn[type="submit"] {
  width: 200px;
}

#sign-in input[type="radio"] {
  margin: 0 5px 0 10px;
}

#sign-in-choose-account {
  margin-bottom: 20px;
}

#tip-thanks {
  margin-bottom: 20px;
}

/* FORM OVERRIDES
 *---------------------------- */
form .form-actions {
  border-top: 0px none transparent;
} 

.simple_form .control-label {
  font-weight: bold;
}

.simple_form .control-group {
  margin-bottom: 20px;
}

/* USER DASHBOARD
 *---------------------------- */

.table-wrapper {
  margin: 20px 0;
}

.clicks-table .click-amount {
  width: 100px;
}

.clicks-table .click-date {
  width: 120px;
}

.clicks-table .click-provider, .clicks-table .click-user {
  width: 200px;
}

.clicks-table > tbody > tr > td {
  line-height: 28px;
}

.clicks-table .delete-click {
  margin-top: -3px;
}

.table-title {
  margin: 10px 0;
}

#process-message {
  margin-top: 20px;
}

/* BOOTSTRAP OVERRIDES
*---------------------------- */

[class^="icon-"], [class*=" icon-"] {
  background-image: url(image_path("glyphicons-halflings.png"));
}

p, strong, h4, ul.plist > li {
  font-size: 15px;
  line-height: 1.2em;
}

h4 {
  margin: 15px 0 5px 0;
}

/* BOOTSTRAP - DATATABLES
*---------------------------- */

div.dataTables_length label {
    float: left;
    text-align: left;
}
 
div.dataTables_length select {
}
 
div.dataTables_filter label {
    float: right;
}
 
div.dataTables_info {
    padding-top: 8px;
}
 
div.dataTables_paginate {
    padding-top: 8px;
    float: right;
    margin: 0;
}
 
table {
    margin: 1em 0;
    clear: both;
}

table.table thead .sorting,
table.table thead .sorting_asc,
table.table thead .sorting_desc,
table.table thead .sorting_asc_disabled,
table.table thead .sorting_desc_disabled {
    cursor: pointer;
    *cursor: hand;
}
 
table.table thead .sorting { 
  background: url(image_path("sort_both.png")) no-repeat center right; 
}

table.table thead .sorting_asc { 
  background: url(image_path("sort_asc.png")) no-repeat center right; 
}
table.table thead .sorting_desc { 
  background: url(image_path("sort_desc.png")) no-repeat center right;
}
 
table.table thead .sorting_asc_disabled { 
  background: url(image_path("sort_asc_disabled.png")) no-repeat center right; 
}
table.table thead .sorting_desc_disabled { 
  background: url(image_path("sort_desc_disabled.png")) no-repeat center right; 
}


/* USER PROFILE
*---------------------------- */

#edit-url{
  margin-left: 20px;
}

#profile-container {
  margin-top: 20px;
}

#user-profile {
  padding: 20px;
  border: 2px solid #ddd;
  background-color: white;
  border-radius: 10px;
}

#user-profile #user-image {
  width: 260px;
  margin-bottom: 10px;
}

#user-profile .block {
  position: relative;
}

#user-profile:hover input {
  display: block;
}

#user-profile #image-block {
  display: none;
}

#user-profile input, #user-profile textarea {
  box-shadow: none;
  background-color: transparent;
  border: 1px solid transparent;
  resize: none;
  width: 245px;
}

#user-profile #last_name_input, #user-profile #first_name_input {
  float: left;
  width: 112px;
}

#user-profile #first_name_input {
  margin-right: 11px;
}

#user-profile textarea {
}

#user-profile:hover #upload-button {
  display: block;
}

#user-profile:hover input, #user-profile:hover textarea.editing, #user-profile input.focused, 
#user-profile textarea.focused {
  display: block;
  background-color: #f2f2f2;
  border: 1px solid #ccc;
}

#about-block {
  min-height: 60px;
}

#user-profile #upload-button {
  display: none;
  position: absolute;
  top: 5px;
  left: 5px;
}

#profile-submit {
  margin: 0;
  text-align: center;
}

#image-block .input-block {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}

#name-block {
  height: 40px;
}

#name-block .emphasis {
  font-weight: bold;
  font-size: 20px;
}
#name-block .content-block {
  padding: 5px;
  color: #555;
}

#user-profile:hover #name-block .content-block.editing {
  display:none;
}

#user-profile #name-block .input-block {
  display:none;
}

#user-profile:hover #name-block .input-block {
  display: block;
}

#button-holder {
  margin: 40px 0 0 200px;
}

#upload-image {
  height: 0;
  width: 0;
  border: none;
  background-color: transparent;
}
