.header {
  position: relative;
  background-color: white;
  padding: 2px;
  border-bottom: 1px solid $gray-border;
  overflow: visible;

  a.brand {
    position: absolute;
    display: block;
    left: 20px;
    top: 8px;
    background: transparent image-url('logo-header.png');
    width: 41px;
    height: 29px;
    padding: 0;
    border: 0;
    span {
      position: relative;
      left: -100000px;
    }
    &:hover {
      border: 0;
    }
    &:visited {
      border: 0;
    }
  }

  .header-inner {
    background-color: $gray-light;
    height: 43px;
  }

  .nav {
    line-height: 25px;
    margin: 10px 18px 0 0;
    li {
      display: inline-block;
    }
    a {
      display: inline;
      font-family: $sansFontFamily;
      font-size: 12px;
      font-weight: bold;
      &:hover {
        background: transparent;
      }
    }
    &.pull-left {
      margin-left: 80px;
      li {
        border-left: 1px solid white;
        margin: 0;
        width: 100px;
        text-align: center;
        &:first-child {
          border: 0;
        }
      }
    }
    .nav-text {
      .greeting {
        font-family: $sansFontFamily;
        font-weight: bold;
        font-size: 12px;
      }
      .sign-out {
        font-weight: normal;
        font-size: 11px;
        a {
          font-weight: normal;
          font-size: 11px;          
        }
      }
      img {
        position: relative;
        top: -2px;
        width: 30px;
        height: 30px;
      }
    }
  }
}
